[2021-03-31 16:07] jeffbl opened #1 "Test button/link/selector insertion into webpage via browser extension, with screen reader(s)"
@JRegimbal I am assigning to you, but there are others standing by to test different solutions, and if it should be reassigned, feel free to do so:

@jeffbl : windows (NVDA) / linux (Orca)
@sabrina MacOSX (VoiceOver)
Sri : windows

From slack (Jeremy): (a) investigating button/link placement overtop of graphics and (b) accepting some minimum number of input commands to interact with the rendering

[2021-04-26 16:06] jeffbl opened #2 "Extension build & deploy to internal website"
Goal: Have an ongoing method for getting current/stable extension builds to the team to install and test

For the end of april milestone, please create a manually-triggered build process to:

1. build the chrome extension
2. post it to the ATP site on bach

For #2, I'm creating a place for it on the site, and will message here when done.

Future, we can automate further, but the important thing no

[2021-04-27 15:16] JRegimbal opened #4 "Extension Code License"
We're going to need to add a license to our extension eventually. As of right now, it doesn't seem any software we use forces us into a particular license (nothing GPL so far), but I'm going to check if there are any requirements that Google or Mozilla place themselves.

Is there anything else we should be considering here @jeffbl?

[2021-04-30 13:23] #2 closed, assigned to JRegimbal

[2021-04-30 15:21] JRegimbal opened #6 "Basic Optional WebSerial Support"
Eventually we want to control external devices (like the Haply) through our extension. [Web Serial](https://wicg.github.io/serial/) exists (related to Web USB), but is not a W3C recommendation and [seems to be Chromium only](https://caniuse.com/webusb). Therefore, it must be an optional build feature and not a default.

There should be a section that is optionally built and uses WebSerial successf

[2021-04-30 16:07] jeffbl opened #7 "Chrome extension: No action when choosing menu item on image"
Install extension in Chrome on Windows
Go to http://www.cim.mcgill.ca/~jeffbl/mimic/images/2015-10-21@10-52-53.jpg
Right-click image
choose "Example item in the menu"

Expect: Something comes back like audio and plays
Actual: Nothing happens

[2021-04-30 17:10] #7 closed, assigned to JRegimbal

[2021-05-05 15:01] jeffbl opened #10 "Determine what is possible on mobile devices in terms of extensions"
We were assuming that desktop chrome extensions would work on mobile devices as well. This is actually not clear. We need to understand the limitations of mobile browsers vs. the PC. Eventually, I foresee we're going to have to create some kind of feature table for what is supported on different platforms/browsers...

[2021-05-06 18:50] jeffbl opened #11 "Test speed of web extension talking to USB device"
Figure out if the speed of access to USB devices in a Chrome extension is fast "enough" for good interaction with (for example) the Haply. Things to check:

1. Antoine at Haply indicated 100Hz would be a minimum rate
2. latency also matters
3. CPU usage of host machine may also be a factor

@JRegimbal Not sure if this got assigned to someone else, so assigning to you first..

[2021-05-06 19:05] jeffbl opened #12 "Determine best method for talking to haptic hardware (e.g., Haply)"
Only Chrome supports talking to USB devices from an extension, and that may not be fast enough (issue #11). It also limits us to just chromium-based browsers.

Antoine suggested a Java app that runs cross platform, that would be launched on the host platform, then talk to the Haply. This might be better than another type of executable that has to have platform-specific UI and compilation, but will

[2021-05-06 20:54] jeffbl opened #13 "Add TTS preferences to user settings?"
If the user has a preferred TTS voice, either male or female, or something more specific, like an accent, how do we specify this? We already have a language indicator in the JSON that is sent to the server, but we may not be sure exactly what TTS is in use, so may not know what options it has...

[2021-05-06 21:07] jeffbl opened #14 "UI for user information"
In the browser extension, we'll need to let the user specify what equipment they have, etc, in order to populate the JSON that goes up to the server:

https://bach.cim.mcgill.ca/atp/testpages/tp01/query.json

Also, we need to either have sane defaults, or maybe we can detect whether some of these exist automatically?
Is there a way to guide the user through setting this up after the extension is i

[2021-05-07 14:39] jeffbl opened #15 "Mechanism for user to express preferences on renderings received"
We're unlikely to get the renderings perfect for all users based solely on their explicit preferences (#14). So, it makes sense to have a "correction" possible, where the user expresses how happy/unhappy they are with a specific rendering they receive. Some options:

1. Have a thumbs-up/thumbs-down for each rendering, which can accumulate to suppress/enhance a given rendering.
2. Have a blacklist/

[2021-05-07 14:43] jeffbl opened #16 "Saving/restoring extension preferences"
After the user has entered their settings into the extension (#14), and it has accumulated data over time about what handlers/renderings the user likes and dislikes (#15), it would be a shame to lose this when switching browsers, reinstalling a machine, etc. Questions:

1. Is there a way to use browser sync to hold onto this data?
2. Can we write it out to a JSON blob the user can manually export/

[2021-05-28 19:11] JRegimbal opened #19 "Info Window Sometimes Fails to Open"
Sometimes upon trying to open the info window, an exception is thrown at background.ts:42. `Error: Type error for parameter createData (Error processing url...`

It seems like this may be a drawback of passing the JSON file as a URL parameter. If this is the case, an alternative approach would be necessary to fix it.

[2021-05-28 19:14] JRegimbal opened #20 "Display Appropriate Error Messages"
When something goes wrong, there typically isn't any feedback to the user (aside from console logs that are unlikely to be checked). A page should be shown in the event of common errors that indicates what went wrong and, if applicable, what is necessary to fix it.

Ideally there should also be a way to get an error log for debugging, but I don't know how to make this available in a way that would

[2021-06-01 14:22] #19 closed, assigned to nobody

[2021-06-02 17:23] JRegimbal opened #22 "Not all Images Reachable with Tab"
Images must be [tab indexable](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex) to have the context menu opened on them using the keyboard. By default, this only occurs if the image is contained in a link (as the link is an automatically indexed element and the extension looks for images in links).

This must be fixed so all images in the page that we support can be re

[2021-06-03 13:05] #22 closed, assigned to JRegimbal

[2021-06-04 15:05] jeffbl opened #24 "Developer account for publishing extension"
Google is tightening the restrictions and vetting for Chrome extensions:

https://www.theverge.com/2021/6/3/22466386/chrome-91-enhanced-safe-browsing-extensions-download-scanning

The implication is that we might need to get a developer account months in advance of when we think we'll need it, so that we can be better trusted, and avoid spurious warnings when people go to install the browser exten

[2021-06-06 17:08] jeffbl opened #25 "New W3C extension standard in the works?"
Looks like still in the discussion phases, but there is a new cross-browser extension standard being bandied about:

https://www.w3.org/community/webextensions/2021/06/04/forming-the-wecg/

With the time these things normally take, doubtful this will be relevant in the timeframe of the project, but worth keeping an eye on?

[2021-06-11 13:14] JRegimbal opened #26 "Determine Accessible Method of Audio Delivery"
The accessibility of the browser audio and video controls varies from browser to browser, as explained [on the MDN](https://developer.mozilla.org/en-US/docs/Learn/Accessibility/Multimedia#the_problem_with_native_html5_controls).

Based on quick investigation with Orca, Firefox 89 and Chromium 90, there is some degree of keyboard control available with the HTML5 audio in each. You can tab through t

[2021-06-11 19:19] jeffbl opened #27 "If no valid renderings come back, inform user"
There may be a considerable number of graphics for which we simply can't produce a reasonable rendering. This will be particularly problematic at first, when we have few handlers. Thus, for anyone trying it, we need to do something friendly and optimistic. For now, this can just be:

     "IMAGE is unable to render this graphic. Please note that IMAGE is still in pre-release development, so only w

[2021-06-11 20:09] #27 closed, assigned to JRegimbal

[2021-06-11 20:51] jeffbl opened #28 "Tabbing onto a graphic needs to be apparent to screen reader users"
The tabbing to images even if they wouldn't normally be a tab stop appears to work well (implemented in #22). However, there are numerous images that when I tab to them, I hear nothing in NVDA. I think I have some limitations in my understanding of how people navigate these pages (wikipedia, cnn, my MIMIC webpage at CIM, etc), since it isn't just images where I hear nothing, but also the links in

[2021-06-22 06:54] JRegimbal opened #29 "Image Size to Pass To Server"
Currently, the size of the image sent to the server is exactly the size it appears on screen. In other words, a high resolution image that is displayed as a small teaser on the page will be sent to the server at the quality of that small teaser and **not** the high resolution original, even if that is the source.

This is partially a side effect of how we go about actually getting the image binary

[2021-06-22 19:58] JRegimbal opened #30 "Try Full Size Images by Default"
As mentioned in #29, results change with image size and currently the size of the image sent to the server is exactly as it appears on screen. For the purpose of ensuring a consistent experience in the short term, the client should send the image at full resolution when possible with the following potential drawbacks noted:

* additional data use and latency;
* richness of experience may not match

[2021-06-25 13:04] JRegimbal opened #32 "CORS Error After Selecting Image"
A CORS error returning the below message occurs on most images on the demo page. Note that it *doesn't* happen on the original pages for the images and so there does seem to be something different about how this page was written, but the extension shouldn't "break" the webpage.

[code]

[2021-06-25 13:04] #30 closed, assigned to nobody

[2021-06-30 13:58] JRegimbal opened #34 "Prepare for new domain"
Once the server and website are ready, the extension should send all requests to the new domain (`image.a11y.mcgill.ca`) possibly with a new endpoint. Additionally, the website should be linked to as a homepage in the manifest.json.

[2021-07-02 16:54] JRegimbal opened #36 "Support Local Images"
As of the time of writing, #35 means that we `fetch` every image in the background script. This isn't ideal due to just downloading images twice, but is especially bad for local images since these cannot be fetched (the `file://` protocol is understandably forbidden). Either we must handle *all* images in a way that doesn't break this, or we need to do different actions based on the type of image.

[2021-07-02 17:53] JRegimbal opened #37 "Quota Exceeded Error"
We store data into the browser's storage to get it loaded properly on the info page that pops up. Apparently some results (with large embedded audio files) exceed the size we're allowed to use. This is likely because we're not using extension-specific APIs right now (if I remember correctly).

[2021-07-02 17:53] #32 closed, assigned to nobody

[2021-07-02 18:38] #37 closed, assigned to nobody

[2021-07-05 18:06] JRegimbal opened #39 "Handle HTTP Errors"
Display an error page when a non 200 response is returned. We currently have a case for no renderings being found, but not for other problems (e.g., issue with the request, size problem).

[2021-07-13 20:08] #34 closed, assigned to nobody

[2021-07-19 20:42] #26 closed, assigned to JRegimbal, Sabrina-Knappe

[2021-07-20 15:40] jeffbl opened #41 "Implement preference for server URL"
Now that we have test and production servers, those using the browser extension need the ability to select different servers in order to test against both. Default should be the production server (bach) on installation, but if changed, the server setting should be saved (saving/restoring is covered in #16).

[2021-07-21 16:01] jeffbl opened #42 "Incorporate HAPI javascript implementation into extension"
Once the Haply HAPI port is working, it needs to be incorporated into the extension so that when data comes back from the server, it can be used to drive the haply. Note that this item only covers incorporating the HAPI code - the haptics team will have to create separate work items (in the appropriate repos) for aspects like designing the schema for the data created by the server handler, etc.

[2021-07-26 18:19] #11 closed, assigned to sriGanna

[2021-07-27 15:30] #36 closed, assigned to JRegimbal

[2021-08-03 15:47] #12 closed, assigned to sriGanna

[2021-08-04 14:08] sriGanna opened #44 "Investigate the integration of haptic code (including the HAPI js port) into the extension."
The goal is to have one build so we should be able to separate the Web serial code from the rest.

[2021-08-09 13:35] JRegimbal opened #46 "Include a Download Button"
To help get renderings for use in studies, include a download button that gets the rendering JSON data.

[2021-08-09 18:34] JRegimbal opened #47 "Add Support for Google Maps Request"
Currently, the client/server expects requests to be for an image. Supporting Google Maps embeds will require a different model and a different trigger in the extension. What this looks like depends on the information necessary for the handler to get the info for Shared-Reality-Lab/auditory-haptic-graphics-server#71.

[2021-08-19 21:36] jeffbl opened #50 "Complete haptics open source audit spreadsheet"
The open source audit spreadsheet is in the google drive. We need to fill in any open source components, so that we can make sure we are crediting properly and release our own work under an appropriate license. I see some items added, but the license information and links are not filled out, and I'm not sure this is comprehensive?

[2021-08-20 12:35] #46 closed, assigned to nobody

[2021-08-27 12:49] jeffbl opened #51 "Display progress when fetching from server"
Testing extension, and results are coming back in around 10s, nad I think longer on first run when starting with nothing running on GPU. There is no indication that the request was even received, and the window with results just pops up after the long wait. Hopefully we get faster as we optimize later, but even if it is a few seconds, some indication that the request was sent would be useful. If w

[2021-08-27 13:00] jeffbl opened #52 "How do we explain what each rendering type is, and how it works?"
Testing the extension, and am getting back multiple renderings, including

"An audio description of elements in the image with non-speech effects"
" An audio description of the elements in the image"

Each has sound effects, but I have no way of getting a description of what these indicate.

Suggestion: Each rendering should include a link to a pre-made description that explains how the rendering

[2021-08-27 13:24] jeffbl opened #53 "Wikipedia "You need to attribute the author" popup interferes with IMAGE context menu functionality"
Windows 10 in Virtual machine
Chrome browser
Extension v.0.0.2

Go to this image on wikipedia:

https://en.wikipedia.org/wiki/Montreal#/media/File:Bas%C3%ADlica_de_Notre-Dame,_Montreal,_Canad%C3%A1,_2017-08-11,_DD_26-28_HDR.jpg

Right click.

Note, popup appears indicating you need to attribute the author:

![image](https://user-images.githubusercontent.com/2095406/131133616-9659d758-2338-4384-939

[2021-08-31 14:33] #39 closed, assigned to JRegimbal

[2021-09-08 20:06] jeffbl opened #55 "Integrate "hello-haptics" into extension"
Shared-Reality-Lab/auditory-haptic-graphics-HAPI#19 discusses September work items, completing and testing javascript HAPI support before integration into extension. Shared-Reality-Lab/auditory-haptic-graphics-server#110 discusses implementing a server handler that will send down the (bare bones!) information required to implement a "hello-haptics" test experience, described below.

This work item

[2021-09-20 16:17] #50 closed, assigned to sriGanna, dreamseed87

[2021-09-20 21:57] #1 closed, assigned to Cybernide

[2021-09-27 19:37] rayanisran opened #56 "Incorporate p5.js into separate panel in extension for haptics integration"
For the haptics integration. While the `hello_ball.js` example script seems to run when the panel loads, neither the `setup()` nor the `draw()` function that both handle the graphics and haptic rendering actually run. Unsure why but I'll need to look into this more...

[2021-09-28 18:50] jeffbl opened #57 "Create extension icon"
Releasing the extension will require an icon, preferably in PNG format. Requirements:

https://developer.chrome.com/docs/extensions/mv3/manifest/icons/

Ideally the design could also be used as a general project logo, e.g., on the website.

[2021-09-28 21:51] jeffbl opened #58 "Publish extension to Chrome Web Store"
Even for alpha/beta, good to have extension officially in web store for easy installation. Google's instructions:

https://developer.chrome.com/docs/webstore/publish/

Developer account for SRL info in #24
Creating required icon in #57

More work items will likely need to be added as steps along the path to release.

It is more important to get a MVP extension on the store to get through the proce

[2021-09-28 21:57] #24 closed, assigned to jeffbl

[2021-10-25 19:59] jeffbl opened #62 "Implement "developer mode" flag in settings"
At the bottom of the settings panel, an option "Developer mode" with a checkbox. When enabled, display the debugging menu items, e.g., for getting preprocessor data. When unchecked, these menu options should be hidden so that they do not confuse beta participants.

Timing: If possible to implement for alpha, even better, so placing in October milestone, but at the end of the day, I don't consider

[2021-10-26 23:47] rayanisran opened #63 "hAPI js files don't compile when building extension"
the hAPI JS files don't seem to compile (properly?) when building the extension. If you are testing the haptics extension (from the haptics branch), you will need to manually copy the hAPI folder from the `src` directory to the main folder of the `build` directory for now.

[2021-10-26 23:47] #56 closed, assigned to rayanisran

[2021-10-27 18:56] jeffbl opened #64 "Context menu should only display valid IMAGE server options"
As mentioned in #60, the maps context menu currently appears regardless of whether a map is currently selected. There is a general issue with the extension that IMAGE menu items should only appear (or be enabled) if currently on a supported object. Testing this in Brave (Chrome derivative), it appears that the standard is to simply remove irrelevant menu options. For example, if I right-click on a

[2021-10-27 20:09] JRegimbal opened #65 "Investigate if "link" context option is still necessary. Remove or filter."
Currently the main option for triggering IMAGE on a graphic is present in context menus on links and images. However, it appears on *all* links including those that have no image content. If this is not necessary, link should be removed. If it is still needed to access some images, filtering should definitely be applied before the option is shown.

[2021-10-27 20:43] jeffbl opened #66 "Remove IMAGE menu item for clearly bogus objects"
#64 discusses scoping the IMAGE option(s) on the context menu to only be present when on an object type that we support. In addition to this, I expect that there will be some graphic elements that are clearly not going to be useful, and we'll want to filter them out. For example, if there is a graphic that is only a few pixels in each dimension, we can be pretty sure there isn't much useful we can

[2021-10-28 00:02] jeffbl opened #67 "Maps: figure out and implement way to trigger a specific google embedded map"
Right now, there is no clean way for a user to select an embedded google map and get the context menu to activate IMAGE for that particular embedded map. Options discussed during conversation with @JRegimbal (feel free to add/clarify if I missed anything):

1. Continue investigating iframes possibilities for adding a tabstop that would allow the context menu to be activated.
2. Worst case, move to

[2021-11-10 16:14] #57 closed, assigned to Sabrina-Knappe

[2021-11-12 20:35] JRegimbal opened #70 "Requests cannot be made until the page finishes loading"
On any long loading page, images may become visible before the webpage finishes loading. As soon as images are visible, the context menu options for IMAGE are present as these are controlled via the background script. However, this script will fail to communicate with the content script that hasn't yet run and `ports[tab.id]` will be undefined. This will result in the action failing silently.

[2021-11-15 15:33] #20 closed, assigned to Clarisa1999

[2021-11-19 21:38] jeffbl opened #74 "Browser extension Chrome Web Store entry updates"
We are submitting the extension with only the basic information and graphics. Putting a list here of things to revisit for beta, when we make it more public:

- [x] Update description to include new functionality (e.g., haptics, local files, settings page, etc.)
- [x] Reword the "description" in the uploaded ZIP file that says something like "very, very alpha"
- [x] Upload changes

[2021-11-22 19:47] #70 closed, assigned to jaydeepsingh25

[2021-11-29 13:52] #58 closed, assigned to Clarisa1999

[2021-11-29 17:12] jeffbl opened #144 ""get IMAGE rendering" goes forever and does not pop anything up"
I don't have a solid repro. case for this, but it has happened multiple times while reproducing Shared-Reality-Lab/IMAGE-server#187 and Shared-Reality-Lab/IMAGE-server#189.

Extension v0.1.0 from Chrome Web Store
Brave Browser
No screen reader active

Logging to server on assumption nothing is being returned, but @Clarisa1999  I'd imagine it could be a browser extension issue.

On the a photo, e.g

[2021-11-30 21:19] sriGanna opened #75 "Advertise Haptics Renderer"
Ensure that the haptics renderer is properly being advertised correctly in the request and that the handler can check this and respond accordingly.

Look at the audio renderers as a reference.

[2021-11-30 21:24] sriGanna opened #76 "Integrate Haptics Rendering Option into Extension popup"
This issue is for the creation of an option to allow for interaction with the haptics (similar to that of the audio).

This will be done in two stages:
1) with the haptics being presented as a separate context menu item (simpler to debug);
2) integrated into one menu item that displays both audio renderings and haptic renderings.

Steps:
- [x] confirm that the data is being received correctly from

[2021-11-30 21:28] sriGanna opened #77 "Haptics Popup Window"
This should be launched by the option made in #76.

This popup window should:

- [x]  Load the image (either decode the image from the handler output or locally)
- [x] Display the image
- [x] Have a button at the top of the page for COM port selection to allow for serial communication with the Haply.

[2021-11-30 21:40] sriGanna opened #78 "Haptics Experience Code Migration"
This issue is for the migration of the haptic experience rendering (i.e., active guidance or force wall) code into the extension.

The current code, outside the extension, has the following functionality:
- Extracts coordinate info from a JSON;
- Creates a force-field model to either guide to or render a wall around the object.

These should be moved to the extension architecture to allow the user

[2021-12-02 21:08] Cybernide opened #80 "Haply force callibration"
It seems that there's a lot of variation between Haply devices. In light of this, @dreamseed87 talked about making a calibration tool. Putting it here as I think this will be vital to user uptake of the Haply. Tagging @Sabrina-Knappe since you're in charge of UI settings and such. @Clarisa1999 will probably have a hand in implementation.

[2021-12-02 21:51] Cybernide opened #81 "Prompt user to return Haply to original position between renderings"
The Haply needs to be reset otherwise all sorts of coordinate weirdness happens. We will probably have to remind our users to do this - open to suggestions as to how this is accomplished. Think that this is the appropriate place to put this.

[2021-12-07 02:16] jeffbl opened #82 "Extension does not work on flickr site"
Brave Browser on Ubuntu
Extension 0.1.0

Go to page: https://www.flickr.com/groups/allfreepictures/
Right click any thumbnail.
Right Click -> IMAGE extension -> Get IMAGE rendering

NOTE: Nothing happens, no error, no popup
EXPECT: error, or list of renderings

Click on one of the thumbnails to get to a page like:
https://www.flickr.com/photos/string_bass_dave/51729207037/in/pool-allfreepictures/

[2021-12-07 21:46] #44 closed, assigned to sriGanna, rayanisran, dreamseed87

[2021-12-08 18:41] jeffbl opened #83 "Submit extension to Firefox store"
When going to the chrome web store link for the IMAGE extension while using Firefox, it just tells you to switch to Chrome. My understanding is that we have to submit our built ZIP file to the Firefox add-on store, but I'm not at all familiar with the requirements:

     https://addons.mozilla.org/en-CA/firefox/extensions/

Goal is to have the ability to easily load IMAGE extension into Firefox, a

[2021-12-08 18:53] jeffbl opened #84 "Remove haply options on browsers that do not support webserial"
Using the haply requires webserial, which is only supported in Chrome. If a check for webserial fails (as it will currently in firefox, since webserial is not supported) we should update the UI to remove any mentions of Haply, or give a message saying that Haply only works in Chrome (UI issue, so adding @Cybernide for that portion).

If we don't do this, users will be able to try to use it, and it

[2021-12-08 22:24] jeffbl opened #85 "Renderings popup window is often much too large"
Brave browser
Extension 0.1.0 from web store

On a large screen, when triggering the extension to get renderings, the window that pops up is the same size as the underlying browser window. Perhaps I'm unusual, but on a large screen at home, this means the window is enormous, and >80% whitespace. Can we size this down to come up over the underlying window at a more "reasonable" size given the conte

[2021-12-09 04:33] Clarisa1999 opened #86 "Change embedded settings to a full settings page"
The current settings page pops up in a modal box. The settings needs to be opened in a new tab.

[2021-12-09 20:03] jeffbl opened #90 "Add ability to use pegasus to extension server list"
To test the new pegasus server (Shared-Reality-Lab/auditory-haptic-graphics-server#227), can we add the type-in field for other servers, so that we can manually test against it before we redirect image.a11y.mcgill.ca to it?

If text field is difficult (alhtough we have to do it eventually anyway!) then temporarily adding it just like unicorn was added is an acceptable temporary solution.

@Sabrina

[2021-12-10 18:56] JRegimbal opened #91 "Refactor ~`src/info/info.ts`~ major files to split out different features"
~Currently functionality for renderers is added in the code for `src/info/info.ts`. This works, but makes the file itself harder to read and as we add more complicated renderers it will only get worse. To keep everything clear, the renderers should be split out into multiple files.~

Updating to include all major files on the extensions, in particular `src/content.ts` and `src/background.ts`. Thes

[2021-12-13 16:29] jeffbl opened #93 "URL causes (incorrect) server error"
Extension 0.1.0
Brave browser on Linux

Likely related to Shared-Reality-Lab/auditory-haptic-graphics-server#189, the following URL gives an error

`https://api.creativecommons.engineering/v1/thumbs/aad5765c-a8a0-4d16-8dfa-d9f8c3e69155`

ERROR: `An error occurred while trying to connect to the IMAGE server. Please try again later. If this error persists, please contact the IMAGE team by email at a

[2021-12-15 21:25] #67 closed, assigned to aidanwilliams09, BenMacnaughton

[2021-12-15 21:26] #47 closed, assigned to aidanwilliams09, BenMacnaughton

[2021-12-17 19:20] #16 closed, assigned to Clarisa1999

[2021-12-17 19:20] #41 closed, assigned to Clarisa1999

[2021-12-17 19:20] #86 closed, assigned to Clarisa1999

[2021-12-17 19:20] #90 closed, assigned to Clarisa1999

[2021-12-17 19:59] #78 closed, assigned to sriGanna, rayanisran

[2021-12-22 01:06] #42 closed, assigned to sriGanna, rayanisran, dreamseed87

[2021-12-22 01:06] #55 closed, assigned to dreamseed87

[2021-12-22 01:06] #75 closed, assigned to sriGanna

[2021-12-22 01:06] #76 closed, assigned to sriGanna, rayanisran

[2021-12-22 01:06] #77 closed, assigned to sriGanna, rayanisran

[2021-12-22 16:06] jeffbl opened #97 "Test installing/using browser extension in Edge browser"
It appears that Microsoft Edge has a capability to install Chrome extensions directly from the Google Web store. We have one report that this didn't work for the IMAGE extension. This work item is to see if this actually works, and if not, what we need to do to deploy onto Edge.

[2021-12-22 17:33] JRegimbal opened #98 "Extension No Longer Works on Firefox"
The extension will no longer work on Firefox after the managed storage feature was added. This is because Firefox requires an addon ID to access features that must be consistent across different instances (see https://extensionworkshop.com/documentation/develop/extensions-and-the-add-on-id/#when-do-you-need-an-add-on-id). The extension will fail to work and report no error to the user.

[2021-12-22 17:37] JRegimbal opened #99 "No default value for server storage"
If the user has not manually opened the settings menu and confirmed a URL for the server, requests to the server will fail silently. It seems to be that the `serverURL` value evaluates to `""` and so the request will fail. This is not reported to the user. In DevTools, the following is shown:
[code]
Tested with the current main (f224155d58f4f721d586800835d9ba38dd5652db)

[2022-01-03 22:38] jeffbl opened #101 "Get broken haply's repaired by Haply."
At least two of our haply's seem to be broken. We should check on the others and get them to Haply for repairs so that we have enough in good working order through the end of the project.

Antoine asked for photos so that they can plan the repairs and estimate time needed.

Assigning to @dreamseed87, but can be reassigned if someone else is taking charge of this.

[2022-01-04 16:33] sriGanna opened #102 "Investigate improvements to the stability of haptic renderings"
This is issue more geared toward the active guidance (passive exploration) scenarios.

With the current point-to-point navigation and contour following code, there is a fair bit of instability with the control. We need to investigate the use of PID or other closed-loop control strategies to improve stability.

Using PID as a starting point we would want to allow for the user to configure and test

[2022-01-04 16:40] sriGanna opened #103 "Investigate the use of textures"
This would be for the active exploration (passive guidance) mode.

There are two parts:
1) Trying different textures to determine if we can make multiple distinguishable textures
2) Investigate how we communicate the information that each texture represents

To close this issue we either:
1) conclude that we can't render multiple distinguishable textures, OR
2) Provide a list of at least 2 disting

[2022-01-04 16:43] sriGanna opened #104 "Error checking for point-point/ contour navigation"
Currently, there is no real error checking for active guidance (passive exploration).

We need to:
- [ ] 1) Identify if there is an error in active guidance: either high deviation from the point, it is stuck at a point, etc.
- [ ] 2) Communicate the type of error and how to resolve it (restart the session, or something else)

[2022-01-04 16:48] sriGanna opened #105 "Investigate the use of semantic segmentation for layering"
In the processing sketches for the haptics user testing, we used a rendering strategy that presented different layers. Each layer had a grouping of similar objects. We need to see if the current semantic segmentation output allows for a similar rendering.

if not, we need to detail the specifics of what we need in a github issue for PP enhancement.

[2022-01-04 17:00] sriGanna opened #106 "Investigate the UI for multiple haptic renderings"
The demo presented on demo day contains the following UI elements:

- a button to begin comport selection (which disappears after successfully connecting to the comport)
- a dropdown menu with the different haptic renderings
- a canvas element that dynamically loads when haptics is launched

1) We need to investigate what changes need to be made to this UI to match the existing convention in the p

[2022-01-05 15:22] jeffbl opened #107 "Create easy way for IMAGE team members to find/install browser extension reflecting main branch"
Currently, the extension is automatically built on github, but finding those releases will not be easy for people on the team. We'll have an ongoing need to have IMAGE team members test the latest before it is deployed to google for public access. Creating a new formal github "release" for every single build seems like overkill. Do we want to have a way to formally "bless" a development version of

[2022-01-05 20:49] jeffbl opened #108 "Broaden support for non-standard embedded Google maps"
Currently, the browser extension puts a button on Google maps that are embedded in the Google-approved way. Unfortunately, not all sites embed in this way, which means that users will not be able to use the browser extension to access IMAGE for those maps. This work item is to:

- [ ]  Investigate what other embedding methods interfere with our ability
- [ ] Prioritize which ones should be handled

[2022-01-07 19:05] sriGanna opened #109 "Keyboard Interrupts for Haply"
We want to work toward an audio-like UI where the user can start/stop, pause/play the haptic (audio-haptic) interaction.

To start, we want to start/stop a guided interaction using a keyboard hotkey (ie. spacebar).
Next, we want to be able to traverse the guided points/scenes using the arrow keys.

[2022-01-07 21:02] jeffbl opened #110 "Settings for whether user has haptic devices connected"
We currently do not autodetect whether the user has a Haply or Dot device connected. Perhaps we'll be able to do that eventually. For now, we need two checkboxes added to the settings page, one for "Haply" and one for "Dot" (Probably with a "Haptics" header?).

Work item includes:

- [ ] Add checkboxes to settings page (pending wireframe from UI team) Default state: Both OFF.
- [ ] design and impl

[2022-01-10 20:54] rayanisran opened #111 "implement haptic contour-following using semantic segmentation"
Add the ability to trace image contours using the Haply once Shared-Reality-Lab/auditory-haptic-graphics-server#262 is done.

[2022-01-11 20:45] #62 closed, assigned to Clarisa1999

[2022-01-12 15:51] jeffbl opened #113 "Multiple rendering windows grows confusing"
Get IMAGE rendering for one graphic
Leave window open
Get IMAGE rendering for second graphic
While waiting a while for it to come back, switch to another window
Get confused about which window was for the second graphic you picked

I've had cases where I've ended up with 4 IMAGE results windows open, and it is impossible to figure out which one goes with which graphic.

Thoughts:
- This is exacerb

[2022-01-13 14:27] JRegimbal opened #116 "Chromium does not allow navigation to data URL - audio download fails"
Unlike Firefox, Chromium does not allow top level navigation to data URLs. Since this is how audio snippets can be downloaded, this feature is broken. This succeeds Shared-Reality-Lab/IMAGE-server#271.

[2022-01-13 14:31] JRegimbal opened #117 "Non-developer mode fills background.ts console with errors"
However the context menu items were removed results in the logs for the background script being filled with the following error:
[code]
This does not seem to impact functionality but would make debugging difficult (it already has for me).

[2022-01-13 16:53] #116 closed, assigned to nobody

[2022-01-13 17:58] rayanisran opened #120 "haply canvas obscures rendering buttons in pop-up window"
See image below. The Haply canvas is set to appear a set distance below the "hello-haptics" rendering, and we assumed the haptic rendering button for this would be at the very bottom (after the audio renderings), based on testing of a few images; this is clearly not the case here and in any case a better solution is needed since we may have other haptic renderings beneath this one as well, e.g., a

[2022-01-15 15:20] #4 closed, assigned to JRegimbal

[2022-01-17 19:16] dreamseed87 opened #121 "Integrating Dot pad supporting part"
Integrating Dot Pad supporting code, which separately exist on another repo.

[2022-01-17 19:35] #14 closed

[2022-01-17 19:35] Cybernide commented on #14
@jeffbl This is now, in actuality a number of different issues and is no longer needed

[2022-01-17 19:37] jeffbl commented on #14
Please make sure that in addition to the specific work items for individual settings, that the overall issue of how to guide the user to them if necessary (e.g., autobringup on install) is logged somewhere.

For future, best practice is to list the items that are replacing the item when closing, so that there is an automatic reference back to this issue.

[2022-01-17 19:38] Sabrina-Knappe commented on #14
Great, will do.

[2022-01-17 19:39] Sabrina-Knappe commented on #74
This has been on the backburner for me because it isn't directly related to my thesis work, @Clarisa1999 what specifically do you need from me for this.

[2022-01-17 19:43] Sabrina-Knappe commented on #13
It's a bit late now, but yes we can ignore this for 1.0
I think the feasibility of this is a question for @jaydeepsingh25 and/or @JRegimbal

[2022-01-17 19:44] Sabrina-Knappe commented on #15
I was under the impression that we decided making a database for this was too much overhead. @jeffbl @JRegimbal Is that correct?

[2022-01-17 20:12] sriGanna commented on #105
This topic was discussed in the audio-haptic meetings and the use of semantic segmentation is summarized on this page: https://github.com/Shared-Reality-Lab/audio-haptic-graphics-UX/wiki/User-Interaction-Workflows.

We are currently working on a handler for combined audio-haptic experience using semantic segmentation.

Based on this progress I am closing this investigation.

[2022-01-17 20:12] #105 closed

[2022-01-17 20:14] sriGanna commented on #121
Just in case anyone needs a pointer, this is the Dot Pad repo: https://github.com/Shared-Reality-Lab/auditory-haptics-graphics-DotPad

[2022-01-17 20:51] Cybernide commented on #110
Never mind, I think I have to consult with @dreamseed87 on some particulars, then draft a number of wireframes and hand them off to @Sabrina-Knappe

[2022-01-17 21:19] jeffbl commented on #15
This is in backlog, future funding, so we don't need to design this out now. Whether it is a database or something similar will depend on future priorities/funding.

[2022-01-17 21:43] JRegimbal commented on #13
Probably feasible, possibly difficult. We use ESPnet for TTS and while it does allow us to swap out models very easily, we need to make sure the models were trained on different speakers. Currently, we're using models trained on the [LJ Speech](https://keithito.com/LJ-Speech-Dataset/) dataset. If we can find another compatible model trained with another speaker (different gender, accent, whatever)

[2022-01-17 21:59] JRegimbal commented on #13
Deleted my previous comment since it was wrong.

There are some multi-speaker models that we could possibly use. There may be a drop in quality and we would need to actually figure out what speaker to map to each setting, but it should be doable. This would require some reworking of the TTS service.

[2022-01-17 22:01] jeffbl commented on #74
This needs a broader look from the UI/UX team, to figure out how to best take advantage of this landing page. Assigning to @Cybernide to determine who will do that, before assignment to Clarissa with specific text/wireframes.

[2022-01-18 00:33] jaydeepsingh25 opened #122 "Console error for subsequent requests once settings are saved"
As per the existing implementation, After saving the settings, the user needs to reload the page for the extension to work properly.
I suspect this is because extension reloads itself and the browser loses the track of the connection with the existing port on the tab, and hence there is the following error in the console:
![image](https://user-images.githubusercontent.com/51749136/149851084-1edc1a

[2022-01-18 02:12] #117 closed

[2022-01-18 02:12] #99 closed

[2022-01-18 13:44] jeffbl commented on #51
As discussed, we don't currently have a way to know how long the server will take to return results, since it depends on the interpretation of the image, which preprocessors end up running, etc. Your 3 steps above could be implemented, but we'd have to get an estimate, and it'll require back and forth with the orchestrator. I think we should design that, but if that will take a while, based on use

[2022-01-18 15:12] jeffbl commented on #13
Rather than a user setting, I think this would more likely be used to have different voices for different preprocessors, as @florian-grond suggested a while back, and seemed like it would solve some problems that cropped up in a user test last week (Shared-Reality-Lab/IMAGE-server#278). Agree that user preference should be postponed beyond March release (and it is currently in backlog). Adding Cya

[2022-01-18 16:19] Cybernide opened #123 "Revisit how the icon appears in the titlebar (it is very tiny and inscrutable:"
See #74 - might just need to re-crop the icon. I take it that this is fairly straightforward?

[2022-01-18 19:22] Cybernide commented on #51
Noted - this is going to be next priority once other more pressing issues are resolved

[2022-01-18 20:11] Sabrina-Knappe commented on #123
I can crop the icon to make it thicker... I made it quite small because the docs told us to make a lot of margin. I will reduce the margin and we can try it again...

[2022-01-18 20:12] jeffbl commented on #107
If I'm understanding PR #119 correctly, the idea is that we autotag, then people can just choose the latest tag and get the artifact. However, after that PR, it looks like the tagging happened, but there is no more artifact .zip for the actual extension built:
https://github.com/Shared-Reality-Lab/IMAGE-browser/releases/tag/v0.1.1

[2022-01-18 20:18] Sabrina-Knappe commented on #15
Great, I think we can also cover some aspect of this with the user feedback survey. Close this issue for now, or move to "future funding" category? @jeffbl

[2022-01-18 20:22] Sabrina-Knappe commented on #13
The motivation for TTS as a user setting is not a preference thing so much as a way for people with hearing loss to choose a voice that is more comprehensible to them. Regardless, I think your judgement about post-March is correct. Should this issue be closed or moved?

[2022-01-18 20:33] Sabrina-Knappe commented on #51
Yes, we need either an earcon or text that indicates that the image was sent. Otherwise it really does seem like nothing is happening.

[2022-01-18 20:37] Cybernide commented on #110
Provided some instructions in a series of comments in the wireframes document. Waiting your feedback, @Sabrina-Knappe

[2022-01-18 21:40] jeffbl commented on #13
I didn't recall that reason @Sabrina-Knappe , but I'm glad it is captured here for when this gets revisited. It is already in the furthest milestone (Backlog (future funding)) so there is noplace further out where we can move it.

[2022-01-18 22:00] jeffbl commented on #51
For when you get to this again:
1. If earcon is needed, suggest roping in Florian
2. Given that results seem to take 5-10s now for when they come back, I suppose we could contemplate a fake progress bar if that would be helpful, just assuming that it'll take the max. time, and if it comes back sooner, hopefully user is pleasantly surprised. I hate fakery, though! Plus, if we performance optimize,

[2022-01-18 22:01] jeffbl commented on #15
@Sabrina-Knappe this is already in the backlog (future funding) category

[2022-01-19 01:56] jeffbl commented on #74
localized/global - I don't know what this means (just guesses about screenshots in different languages), and we did not definitively figure it out when we were doing the original submission. You'll need to sync up directly with @Clarisa1999 to understand all the items completely.

[2022-01-19 15:06] JRegimbal opened #124 "Undefined key for map requests"
The key `url` is used despite the defined key being `URL`. See Shared-Reality-Lab/IMAGE-server#285 for more information about this.

https://github.com/Shared-Reality-Lab/IMAGE-browser/blob/9f41c5e6421c4df0f34e62c4cbd592aa0814e08a/src/background.ts#L73

[2022-01-19 15:48] Sabrina-Knappe opened #125 "Create instructions for participants to go on the download page"
Users need to be able to make it directly from the download page to the renderings in ten minutes. What instructions can we provide to make it clear to users what to do?

This is complicated by the variety of screen readers which have different ways of opening context menus. To us "right-click" is the instruction, what would it be for various screen readers?

Sub-tasks:

- [x] Identify what how us

[2022-01-19 15:48] Sabrina-Knappe commented on #125
@jeffbl Feel free to place in whichever milestone is most important

[2022-01-19 19:18] jaydeepsingh25 commented on #107
on digging deeper, i actually found a better way of handling this. Anyone who wants the latest extension build on main branch can get it from the following URL:
https://nightly.link/Shared-Reality-Lab/IMAGE-browser/workflows/typescript-check/main/extension.zip
We can provide this link in README file.
@jeffbl  , can we close this issue if this method is acceptable?

[2022-01-19 19:21] jeffbl commented on #107
Great find - that sounds good! If it is live now, can you also pin it in #general channel on slack?

[2022-01-19 19:29] jeffbl commented on #125
Putting in restricted beta milestone on the assumption this is something we want to test before we go to open beta (where there will be zero live assistance for people trying it). If we have to caveat to only a subset of OS/screenreader combos, no problem with that, and can expand later.

[2022-01-19 19:53] BenMacnaughton commented on #124
Sorry about this. I now see why it managed to get past our testing ("url" was in our mock requests). I will handle the server and schema portion today and address the browser side after OH tomorrow. Should all be easy fixes.

[2022-01-19 20:21] jeffbl commented on #125
Also, ten minutes sounds long to me, but I'm open to debate... My fear is that if it takes that long, many might give up?

[2022-01-19 23:03] JRegimbal commented on #124
No worries it happens!

[2022-01-20 15:47] Sabrina-Knappe commented on #125
I think you're right, maybe amend it to under five minutes?

[2022-01-20 15:49] Sabrina-Knappe commented on #110
Changes are now reflected in the wireframes:
https://xd.adobe.com/spec/205d4652-e2ff-4aeb-7151-cdbffd27eebd-566c/

[2022-01-20 16:04] jeffbl commented on #125
I'd time it for someone who knows how to do it already and is an expert, then multiply that by some factor? I wouldn't want to really underestimate when setting a target since things can be quick in one's head, but slower when you actually have to do it. :)

[2022-01-20 16:05] Sabrina-Knappe commented on #125
Maybe @Cyan Kuo, ***@***.***> can time it with one of our participants to get a useful metric?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Jeff ***@***.***>
Sent: January 20, 2022 11:04 AM
To: ***@***.***>
Cc: Sabrina ***@***.***>; ***@***.***>
Subject: Re: [Shared-Reality-Lab/IMAGE-browser] Create instructions for participants to go on the download page (Iss

[2022-01-20 16:12] Cybernide commented on #125
Hmm. We can probably get Mike to run through it.

[2022-01-20 17:46] Cybernide commented on #125
The instruction on opening context menus isn't going to be straightforward. Basic internet research yields the following little nuggets:
- navigating is done using the tab keys, this is a web standard and therefore probably OS-independent
- - suggestion: we use tab as verb in lieu of "select" i.e. "tab to a graphic"
- opening a context menu *is very* OS-specific:
- - On Windows, we know this as ri

[2022-01-20 18:46] Cybernide opened #126 "Write new descriptions for renderings"
Current rendering descriptions:
Rendering 1: A description of the image and its objects
Rendering 2: An audio description of elements in the image with non-speech effects

These are verbose and obtuse. Needs re-writing. @jeffbl to triage.

[2022-01-20 19:00] Cybernide commented on #125
After discussion, maybe best to teach by analogy, i.e. "Use the tab key to get to the graphic. Similarly to how you would open a context menu to open a link to bookmark it, open a context menu on the graphic."

[2022-01-20 19:12] Cybernide commented on #74
For posterity, here's the text, some parts rearranged, instructions added, settings page and haptic devices mentioned:
_Extension for the McGill IMAGE project. Currently in beta!
Making internet graphics accessible through rich audio and (in a future release) touch!

Have you ever wanted to hear a photograph or pie chart, and not just a description of what is in it? IMAGE (Internet Multimodal Acce

[2022-01-20 19:43] Cybernide commented on #74
I'm going to write up new descriptions for the renderings before taking screenshots (see #126 )

[2022-01-20 20:02] Cybernide commented on #126
The ones in use seem to be:
object-tts: A description of the image and its objects.
segment-handler: "A sonification of segments detected in the image.", "Navigable sonifications of segments detected in the image."
generic-tts-handler: "An audio description of elements in the image with non-speech effects."
hello-tts"An audio description of the elements in the image."

[2022-01-20 20:09] Cybernide opened #127 "create video describing IMAGE overall for Chrome Web Store (and website)"
As the description says. @jeffbl for triage

[2022-01-20 20:19] jeffbl commented on #127
@Cybernide I reworked the title - did I capture your intent?

If so, I'm fine with waiting until CSUN milestone for this, since it would be great to have at launch

[2022-01-20 20:44] Cybernide commented on #126
Instead of referring to them as "Renderings", try "Interpretations"

[2022-01-20 21:16] #93 closed

[2022-01-21 17:12] Cybernide opened #129 "Update screenshots of extension on the Chrome store page"
In light of the extensive upcoming UI changes, decided it was prudent to make this its own issue. @jeffbl assigning you for triage; strongly suggest moving this out of the restricted beta, as I expect many of these changes won't take place till open beta is on the horizon.

- [x] Better screenshots that are more representative and better resolution
- [ ] #166
- [ ] #167

[2022-01-21 17:14] jeffbl commented on #129
Agree. Triaged to open beta. Please link to the work item where these came from so that they are connected.

[2022-01-21 17:15] Cybernide commented on #52
Seems like #126 has taken some of the scope of this issue.

[2022-01-21 17:18] jeffbl commented on #52
#126 may help, but I suspect we're going to need something like this to really explain what all the tones, earcons, etc. mean for a particular rendering.

[2022-01-21 17:23] Cybernide commented on #74
I've made browser #127 and #123 and #129 separate issues, as I think for restricted beta, changing the wording on the extension store page is good enough. The rest of these are waiting on separate items that I don't think will be done until at least open beta. Editing checklist above to reflect these changes.

[2022-01-21 17:41] Cybernide commented on #52
I'm thinking about writing up a supplementary set of in-depth documents explaining how to interpret all the renderings. Perhaps linked from the tutorial page, and accessible via a link on the renderings popup themselves.

[2022-01-21 19:24] Cybernide commented on #126
As per discussion
Interpretation: Things and People (Object detection)
Interpretation: Outlines of regions (Semantic segmentation)
Interpretation: Regions, things and people, text only (all models, TTS)

[2022-01-21 19:26] Cybernide commented on #126
Note: do not use stuff in parentheses, it's just to let us know which rendering its referring to

[2022-01-21 21:33] Cybernide commented on #51
Well, there are ways of indicating that something is in progress without providing a definite "this is how much of it is done". For us sighted folks, it's like the hourglass indicator in classic Windows, or the spinning umbrella in MacOS. I'm assigning Florian to design. I suggest doing something similar to JAWS, which sounds a little like a clock ticking. Even though we might not be able to query

[2022-01-21 21:34] jaydeepsingh25 commented on #107
@jeffbl , can you please update the README with his link?

[2022-01-21 22:34] jeffbl commented on #107
Done. I also need to update the installation instructions, but the link is now in the repo README. Again - great find @jaydeepsingh25. Closing.

[2022-01-21 22:34] #107 closed

[2022-01-24 17:15] Cybernide commented on #125
Instructions on the website and on the Chrome page have been drafted and are waiting for upload/merge. How does one do this for the icon? I'm investigating this.

[2022-01-24 17:21] jeffbl commented on #125
If you're asking how to get revised assets up to the actual chrome store, you need to point @Clarisa1999 to everything, and she can make sure it is built into the release.

[2022-01-24 18:19] Cybernide commented on #126
@JRegimbal How is it going on this front?

[2022-01-24 18:41] jeffbl opened #130 "Test & Submit updated chrome extension to web store for restricted beta"
There are many revisions to the browser extension. Restricted beta participants will not be able to use it until a new version is deployed to the web store.

When all extension changes are done in the Restricted Beta project board column, this work item is to bundle it up and do the actual submission to the web store. @Cybernide once you approve everything and test the extension with all changes,

[2022-01-24 18:41] JRegimbal commented on #126
These names are incorporated in the new handler which will deprecate the separate object detection and semantic segmentation ones. Once that's in, so will the new descriptions. If you want, the names can be changed in the existing ones now.

[2022-01-24 20:33] Cybernide opened #131 "Implement a warning in the Settings page to indicate that no renderings will be returned when audio and text checkboxes are unchecked"
![image](https://user-images.githubusercontent.com/7490996/150859283-68e69100-57bd-41ab-ae7c-3429f8cb9ec0.png)

There needs to be a message indicating that unchecking both of these checkboxes will result in no renderings being returned. Suggest having an invisible label with a message "No interpretations will appear when both Audio and Text are unchecked!". A listener waits until both boxes are un

[2022-01-24 20:35] Sabrina-Knappe commented on #110
Changes have been updated. Assigning this issue to Clarisa for implementation.
The link remains the same : https://xd.adobe.com/spec/205d4652-e2ff-4aeb-7151-cdbffd27eebd-566c/

[2022-01-25 17:42] Cybernide commented on #126
Thank you. Now passing this issue to @jaydeepsingh25  or @Clarisa1999 could you change "Rendering" to "Interpretation" on the popup window?

[2022-01-25 18:50] Cybernide opened #132 "Update error messages for beta"
This message says that our extension is pre-release: "IMAGE is unable to render this graphic. Please note that IMAGE is still in pre-release development, so only works on a limited set of graphics. For working examples, please see https://image.a11y.mcgill.ca."

Suggest change to:

"IMAGE is unable to render this graphic. If you would like to let us know about this, please send a link to this grap

[2022-01-25 19:23] jeffbl commented on #132
Do we also want to request a description of what they expected? Otherwise we might just get the graphic link, and be unable to determine the actual issue in some cases. (Of course, they can skip this anyway, but wouldn't hurt to ask?)

[2022-01-25 19:33] Cybernide commented on #132
OK, what about "IMAGE is unable to render this graphic. If you would like to let us know about this, please send a link to this graphic and a short description of the problem via email: image@cim.mcgill.ca. Please ensure that the graphic you are sending contains no personal information."

[2022-01-25 21:04] Cybernide commented on #132
Other error messages point to our old email address: we should change these to image@cim.mcgill.ca.

[2022-01-26 18:56] Cybernide opened #134 "Single click on the IMAGE icon in the browser"
What's the behaviour we're looking for when someone single-clicks the IMAGE icon in the browser? Right now it does nothing. @Sabrina-Knappe suggests adding instructions to it.

[2022-01-26 21:33] jeffbl commented on #110
Just talked to @Clarisa1999 with @Cybernide. For restricted beta, these will not be present, and the UI will be removed (or "(not yet implemented)" will be added to the text if hiding these controls is difficult) for restricted beta, then implemented fully for open beta. Leaving in "restricted beta" column until the controls are removed or text is changed.

[2022-01-26 21:37] #132 closed

[2022-01-26 21:49] jeffbl opened #137 "Implement rendering options in extension settings"
I didn't see a work item for this, so am logging new.

Implement the rendering options in the wireframe in #131.

For restricted beta, if these are not implemented by tomorrow morning (Jan 27), please either hide the UI for these or add text saying not yet implemented (same as for #110) so that we can go to restricted beta without this feature.

[2022-01-26 22:06] jeffbl commented on #137
Note full wireframe in #136

[2022-01-26 22:06] jeffbl commented on #110
Note full wireframe in #136

[2022-01-26 23:11] #126 closed

[2022-01-27 05:00] jeffbl commented on #52
I think the link from the renderings popup directly is likely to be much more fruitful, and also fits better with our extensible architecture, since we likely don't want to be responsible for updating the tutorial page every time anyone else changes the set of renderings on another server or something. Having a standard "Help link" for each handler makes more sense to me.

[2022-01-28 05:48] #110 closed

[2022-01-28 15:05] jeffbl opened #140 "Button for segmented audio in Renderings page has no label"
Install latest built extension as of morning of 20220128
Get renderings for a photograph
Note: the button for playing the segment has no label:

![image](https://user-images.githubusercontent.com/2095406/151570188-fd01e319-c395-4d41-a006-dc69d955d735.png)

Reproduced by both @jeffbl and @Cybernide

[2022-01-28 15:24] Cybernide opened #141 "Playback controls on navigable renderings"
Combining object detection and semantic segmentation turned out to be a great idea. Loving that we can navigate between all the segments and objects seamlessly, but now we've got the problem where we can't pause or stop playback easily. From a UX perspective, we should have media controls available. Is this possible somehow? @JRegimbal letting you know so that, at your earliest convenience, we can

[2022-01-28 17:01] #140 closed

[2022-01-28 18:09] JRegimbal commented on #141
Absolutely possible with some rewriting.

https://github.com/Shared-Reality-Lab/IMAGE-browser/blob/11d44396adf2e16d41c391d85a2f7f61d5fbde39/src/info/info.ts#L166-L169

We create a new [AudioBufferSourceNode](https://developer.mozilla.org/en-US/docs/Web/API/AudioBufferSourceNode) whenever the play button is pressed. The code could be refactored so that we have one possibly undefined node that can t

[2022-01-28 18:16] JRegimbal commented on #141
It looks like if we have per-rendering audio context objects it gets easier [based on this explanation for pausing](https://github.com/WebAudio/web-audio-api-v2/issues/105#issuecomment-723691179). Then we can just suspend/resume the entire [context](https://developer.mozilla.org/en-US/docs/Web/API/AudioContext) without impacting the source node.

[2022-01-28 18:57] Cybernide opened #143 "Change version and description of the extension"
In the extension folder, manifest.json, line 4
Reads:
`"version": "0.1.0",`
Change to:
`"version": "0.2.0",`
In the extension folder, "_locales/en/messages.json. line, line 7
Reads:
`"message": "Extension for the McGill IMAGE project. This is a very, very, early alpha.",`
Change to:
`"message": "Extension for the McGill IMAGE project. Beta release.",`

[2022-01-28 19:29] jeffbl commented on #144
Transferred to browser since I think it is pretty clear this is a local browser issue....

[2022-01-28 19:36] jeffbl opened #145 ""Get IMAGE Rendering" menu item completely disappears"
Seems related to #144, and may just be two different symptoms of the same thing?
Brave browser on Linux, but @Cybernide and @jaydeepsingh25 have reproed on other platforms

Symptoms:
- The "Get IMAGE Rendering" menu item completely disappears.
- Developer mode can be toggled on and off in options. The DEBUG menu items come and go as they should, but there is no "Get IMAGE rendering" option in eith

[2022-01-28 19:46] dreamseed87 commented on #101
@johnnyvenom got repaired and replacement joint for that.

[2022-01-28 19:46] #101 closed

[2022-01-30 18:05] #124 closed

[2022-01-31 15:33] Cybernide commented on #74
Uploaded.

[2022-01-31 15:33] #74 closed

[2022-01-31 15:35] Cybernide commented on #125
Instructions uploaded

[2022-01-31 15:35] #125 closed

[2022-01-31 15:46] Cybernide commented on #130
Completed on Friday. Closing @jeffbl

[2022-01-31 15:46] #130 closed

[2022-01-31 16:13] Cybernide commented on #143
Managed to do this for restricted beta. Closing this.

[2022-01-31 16:13] #143 closed

[2022-01-31 16:24] jeffbl commented on #64
@Cybernide Since this was logged, I don't think we still put the IMAGE option always on the context menu, so this may not be an issue anymore. Possibly requires a chat with @jaydeepsingh25 to discuss exactly how it works now and identify any holes, but if none found, this should be closed.

[2022-01-31 17:29] JRegimbal opened #146 ""Render Map" button provides no feedback in UI, logs"
The "Render Map" button in the extension does nothing, including in the logs and on the [example page](https://developers.google.com/maps/documentation/embed/get-started). No messages end up hitting the server either. Please include debug level logs to at least allow developers to understand what is happening and, ideally, provide something to general users as well.

[2022-01-31 17:44] JRegimbal commented on #91
Updating scope of issue due to similar problems impacting the background and content scripts.

[2022-01-31 18:43] #146 closed

[2022-02-01 15:42] jeffbl commented on #103
I'm putting this in backlog, but if the planned CSUN renderings will include this functionality, please move it to a closer milestone (e.g., CSUN feature freeze)

[2022-02-01 15:49] Cybernide commented on #84
@Clarisa1999 Can we do a simple browser check and disable haptic devices if its not on Chrome?

[2022-02-01 16:07] Cybernide commented on #141
So @Clarisa1999 or maybe @jaydeepsingh25 Can we add playback controls to the individual parts of the renderings like so?
![image](https://user-images.githubusercontent.com/7490996/152004939-b26e1dcf-4778-4f81-95af-1851f425d9c0.png)

[2022-02-01 16:20] Cybernide commented on #141
@Sabrina-Knappe mentioned the possibility of making this even more screenreader accessible, having a chat with her and then updating this issue.

[2022-02-01 16:22] Cybernide commented on #64
Testing it with Chrome, Edge and Vivaldi browsers seems to suggest that the context menu is showing up on the correct items.

[2022-02-01 19:09] JRegimbal opened #147 "Allow access to graphic blob (entire request?) in info.ts"
Currently, the only way for info.ts to have access to information in the request sent by the extension is for that information to be returned by the handler. That's not usually too bad, except when it comes to the base64 blob of the graphic. The graphic if not the entire request itself should be made available to renderers as needed, particularly for haptics renderers.

[2022-02-01 19:09] JRegimbal commented on #147
Assigned to @jaydeepsingh25 for triage.

[2022-02-01 19:39] jeffbl opened #148 "Put extension web store text into repo so it is versioned and easily findable"
Right now, the text for the web store entry is all over in documents. Good to get this versioned. Probably a subdir in browser repo, and we'll have to probably add multiple files for different stored, e.g., #83.

[2022-02-01 19:45] jeffbl opened #149 "Submit revised extension to Chrome webstore for open beta"
After everything is implemented, assign this to @Clarisa1999 to do the actual submission to the Chrome web store.

[2022-02-01 19:54] jeffbl commented on #147
Brainstorm: This could potentially also give us a way to more efficiently do a nicer in-extension version of the visual debug tool (Shared-Reality-Lab/IMAGE-server#117), by just returning overlays of the drawn outlines for different preprocessors/segments, rather than complete images, which would likely be much smaller.

[2022-02-02 00:31] Cybernide commented on #64
@jaydeepsingh25 Can you quickly in the comments let us know the conditions under which the IMAGE context menu option appears? If it seems pretty bullet-proof, I'll close this issue.

[2022-02-02 00:34] Cybernide commented on #141
@Sabrina-Knappe You seem to have some ideas as to how to go about this to ensure decent functionality between all screen readers. Please let me know when you have a flowchart/diagram/wireframe to review.

[2022-02-02 21:36] Cybernide commented on #51
Edited the comment above to reflect decisions from earlier this morning

[2022-02-04 17:48] BenMacnaughton opened #150 "Send maps requests as render requests"
Currently, all maps requests are for preprocessor data only

[2022-02-04 19:22] aidanwilliams09 commented on #108
What should be the approach for maps that are just images? For example, an img tag that takes as its src attribute a google maps (not embedded) api call?

https://www.tripadvisor.ca/Restaurant_Review-g155032-d6582018-Reviews-Fenetre_Sur_Kaboul-Montreal_Quebec.html

[2022-02-04 19:50] jeffbl commented on #108
When I click the image, I get taken to an actual google map, but I assume there is an issue getting the lat/lng from whatever mechanism they are using?

[2022-02-04 19:55] aidanwilliams09 commented on #108
The main issue is that it's a completely separate API. The example I gave does have a lat/lon, but it's not using the Google Maps Embed API, it's using the Google Maps API.

[2022-02-04 21:14] Sabrina-Knappe commented on #141
![IMG_1151](https://user-images.githubusercontent.com/56092221/152603961-4d436278-d979-4981-8662-7ee6b8c89b9f.JPG)
Here is a very rough state diagram for @JRegimbal

[2022-02-04 21:21] Sabrina-Knappe commented on #131
Wireframe updated: https://xd.adobe.com/spec/205d4652-e2ff-4aeb-7151-cdbffd27eebd-566c/

[2022-02-04 21:27] Sabrina-Knappe commented on #28
Has this been successfully dealt with? I tested with both NVDA and VoiceOver, and images (for the most part) are being stopped at. I found a really good example site for this but I think it was on my other computer. I will send you the link once I have it.

[2022-02-04 21:35] Sabrina-Knappe opened #151 "Rendering plays overlapping"
This issue was discovered on mac using VoiceOver, I have not attempted to recreate it with Windows/NVDA yet.

TL;DR
If I press enter on a rendering multiple times in a row, the rendering will just play multiple times, overlapping. We should probably fix this so that pressing enter when it's already playing does nothing.

@Cybernide I've assigned Jaydeep and Clarisa since I'm not sure which one of

[2022-02-04 21:37] jeffbl commented on #127
Created new project board column for right before CSUN, for items like this, and any fixes after feature freeze.

[2022-02-04 21:43] jeffbl commented on #151
This happens in Brave on linux with no screen reader running as well

[2022-02-04 21:49] aidanwilliams09 commented on #108
Writing down different websites and how they use google maps below...

[2022-02-04 21:49] aidanwilliams09 commented on #108
https://www.opentable.ca/r/au-coin-berbere-montreal?originId=075d67b6-2c5c-4c5a-ba6f-12fe6ade07d5&corrid=075d67b6-2c5c-4c5a-ba6f-12fe6ade07d5&avt=eyJ2IjoyLCJtIjowLCJwIjoxLCJzIjowLCJuIjowfQ

a tag href: https://www.google.com/maps/dir/?api=1&destination=au%20coin%20Berb%C3%A8re%2073%2C%20Duluth%20East%20Montr%C3%A9al%2C%20QC%20%20H2W%201G9

[2022-02-07 14:19] jeffbl commented on #131
@Sabrina-Knappe Did you mean to assign this to Clarisa for implementation? I note that you inserted red text if both checkboxes are unchecked. Do we know whether that will work reasonably well with a screenreader?

[2022-02-07 17:15] JRegimbal commented on #141
This seems like it should work...I suppose we aren't pausing after the end of a segment? Still a bit nervous about the visibility of the system but honestly worst case this is just something we can fix by inserting HTML comments.

Do we want this piggybacking on the plyr display? And if so, is it worth worrying about changing the behavior of seeking?

[2022-02-07 17:34] jeffbl commented on #113
@jaydeepsingh25 If this is under an hour of work to implement and test, we'd like in, otherwise ping @jeffbl here and I'll move it out to CSUN (with @Cybernide 's blessing)

[2022-02-07 18:01] JRegimbal opened #154 "User-facing interface to store logs when filing a bug"
For Shared-Reality-Lab/IMAGE-server#314, there needs to be a user-facing functionality to save these logs. Technically this means that when the user reaches a screen to submit a bug for a specific request-response pair the extension must have:

1. The request uuid
2. The [object-hash](https://www.npmjs.com/package/object-hash) of the request

When the user authorizes the logs to be saved, a GET re

[2022-02-07 18:09] jeffbl commented on #141
From triage:
 - @JRegimbal implements hack to at least allow pause/stop
 - Then goes to @Cybernide  for final design review of full implementation with extension team to implement by CSUN

[2022-02-07 19:13] Sabrina-Knappe commented on #131
Clarisa implemented a popup warning instead, I am going to quickly test how this works with the screenreaders, and we will either confirm that this is a good way to do it or do the red text instead.

We will be providing her with alternate text for the popup to make the behaviour clearer.

[2022-02-07 19:20] Sabrina-Knappe commented on #28
Here is the relevant Alt text image page:
https://webaim.org/articles/nvda/images.htm

[2022-02-07 19:34] Sabrina-Knappe commented on #141
@JRegimbal I'm not sure whether pausing at the end of each segment makes more sense or not... It matches the current behaviour of the dropdown more closely...

[2022-02-07 19:44] JRegimbal commented on #141
Ok. And are we aiming to ultimately integrate into plyr?

[2022-02-07 19:48] jeffbl commented on #141
@Sabrina-Knappe My opinion is that it should go straight through unless the user selects otherwise, since that gives the full "experience". If they want it broken up, they can still use the dropdown, correct?

[2022-02-07 19:49] JRegimbal commented on #141
@jeffbl I thought that the plan here was to *remove* the dropdown since it caused problems with voiceover.

[2022-02-07 19:59] Sabrina-Knappe commented on #141
Yes, the idea was to remove the dropdown. Would wireframes be useful for this?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Juliette ***@***.***>
Sent: February 7, 2022 2:49 PM
To: ***@***.***>
Cc: Sabrina ***@***.***>; ***@***.***>
Subject: Re: [Shared-Reality-Lab/IMAGE-browser] Playback controls on navigable renderings (Issue #141)

@jeffbl<https://github.co

[2022-02-07 22:12] Cybernide commented on #154
The link in the pop-up should read like this:
"How did you like these interpretations? Give us feedback or report issues using this form here [link]. [Bold face and/or alert text] Make sure the graphic does not contain any personal information. "

Form gets populated with UUID if it is available, if not, a dummy UUID? I feel like we should still get the feedback even if we cannot retrieve the othe

[2022-02-07 22:28] jeffbl commented on #154
Why the two separate popups? Why not just one? Also, I'm pretty sure this question needs to be asked before the form is populated and popped up (unless Juliette/Jaydeep said otherwise?). So I think flow is:

User clicks link in rendering window
Popup says (I'm sure needs tweaking...):

Thank you for submitting feedback! Normally, we do not keep or look at the content of your request, such as the g

[2022-02-07 22:39] Cybernide commented on #154
Popup 1 is asking the user to review, popup 2 is a confirmation - this appears to be in line with how consent is generally obtained when there's the potential for sensitive information?

I thought that doing it this way required a lot more tweaking? I might be misunderstanding things. OK CHange text to:

_Normally, we do not keep or view information such as the graphic, URL, or your settings. Howe

[2022-02-08 01:12] jeffbl commented on #141
Apologies - I hadn't gone through the whole conversation, and I missed that. VoiceOver compatibility is important. I'll just note that iirc one participant seemed to like the dropdown since you can select the exact thing you want to hear, but if this is very fast skipping forward/back, probably no more clicking/listening than navigating the dropdown. RE: playing straight through, my suspicion is t

[2022-02-08 16:33] Cybernide commented on #141
Heads up, I just had a discussion with the haptics crew, and they're looking for guidance on the UI for haptics - I told them that I'm waiting to see what we decide on in this issue, as I want to ensure that there's some consistency between rendering types.

[2022-02-08 20:22] #122 closed

[2022-02-08 20:22] #145 closed

[2022-02-08 20:53] Cybernide commented on #148
See the commit above - is this sufficient?

[2022-02-08 20:57] jeffbl commented on #148
Sure, but in future, there should only be the latest text, otherwise it gets confusing. Since it is versioned, we don't have to keep all the versions visible by extending the file - we can just overwrite, and take the commits with the version so they are easy to find in future if necessary.

[2022-02-08 20:59] Cybernide commented on #148
It's the first commit - wanted the older version there for posterity. Can change when we re-release Beta 2

[2022-02-09 03:59] sriGanna opened #157 "Playback controls for Audio-Haptic renderings"
Based on the interaction flow shown here:
https://github.com/Shared-Reality-Lab/audio-haptic-graphics-UX/wiki/User-Interaction-Workflows#photos

We need some guidance (either in the form of wireframes or simple concepts drawings) for the playback controls of this interaction that are consistent with the controls being implemented in issue #141.

[2022-02-09 06:35] Clarisa1999 commented on #84
Thank you @Cybernide for the reference, it was helpful

[2022-02-09 14:02] JRegimbal commented on #84
Just going to hop in and say the easiest check is for Web Serial support itself. On browsers that support it, `navigator.serial` returns the [entrypoint to the API](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/serial). Otherwise, it's `undefined`.

[2022-02-09 14:03] JRegimbal commented on #151
If this is just for the segment audio renderer, this will be fixed by #155 since we switch underlying functionality to Plyr.

[2022-02-09 15:26] Cybernide commented on #84
Ah, cool! Never mind, @Clarisa1999, go with @JRegimbal 's solution above.

[2022-02-09 18:28] jeffbl commented on #148
Hang on, I see this is in a single file in the root of the repo called VERSION. I don't think that will be obvious, and will get confusing when we have different text for different stores? Why not put it in a subdir as originally proposed, something like:

release_resources
       google
            description.txt
            screenshot1.jpg
            screenshot2.jpg
       firefox.txt

[2022-02-09 20:41] Cybernide commented on #148
Fixed. Waiting on UI changes for the screenshots.

[2022-02-09 22:42] #131 closed

[2022-02-10 17:57] Cybernide commented on #154
I've got the form and I'm playing around with passing dummy UUIDs to it

[2022-02-10 18:49] jeffbl commented on #144
With build directly from @jaydeepsingh25 from yesterday that is better instrumented, I cannot reproduce this bug in Chrome. Hypotheses:
- only occurs in brave
- randomly haven't hit it yet
- brave hits it more (or exclusively?) compared to chrome
- active use of many tabs triggers it - I'm just leaving chrome sit there and trying it occasionally whereas in brave, i'm opening and closing tabs and u

[2022-02-10 21:28] Cybernide commented on #154
Just emailed the two of you with the form

[2022-02-10 22:48] jeffbl commented on #144
I still cannot repro this on chrome
Moving to CSUN milestone since it only appears to happen in Brave. We had others with this issue (e.g., Clarisa, confirming that was not in brave)
If we get reports on this during beta, may have to prioritize it.
Talking with @jaydeepsingh25 , he suspects this may happen in other browsers with some extensions installed. To be investigated.

@Clarisa1999 Can you

[2022-02-11 02:31] florian-grond commented on #51
instead of "request sent" we can put "IMAGE request sent"
The looping would be with reasonable intervals between repetitions say 2 seconds

[2022-02-11 18:13] Sabrina-Knappe commented on #157
![Image from iOS (1)](https://user-images.githubusercontent.com/56092221/153646594-eb342d8a-f869-49c0-8c2a-dc09f5ab3943.jpg)

Try this initially, we'll see what it does to screen readers.

[2022-02-11 18:31] Cybernide commented on #51
Excellent - who do we assign for implementation?

[2022-02-14 16:16] JRegimbal commented on #141
Looking for guidance on this as there were problems when used with VoiceOver (that, IIRC, were also experienced by players like YouTube). I only have access to Orca on my development machine, where it does work when set to brief rather than verbose mode, so I need feedback on what changes are necessary and ideally how to implement for compatibility with the big screen readers.

[2022-02-14 18:40] Sabrina-Knappe commented on #141
@JRegimbal I am looking at alternatives that don't involve using a player. Would be similar to what happens with current dropdown where the button triggers the playing of a section of the clip, but without the dropdown structure.
@jeffbl It's important to note that the navigable UI is functional in the current main, it's just a bit annoying to use. You should be okay passing this to CSUN if necess

[2022-02-14 19:34] jeffbl opened #160 "Stopgap audio cue when doing IMAGE request"
#51 is a nice experience, but for open beta, just play a sound one time when user does an IMAGE request.

Could be a preset audio file compiled into extension, or else use ARIA to say "IMAGE request sent"

[2022-02-14 19:46] #150 closed

[2022-02-14 20:06] Sabrina-Knappe commented on #123
So this is without the bumper area around the icon, as well as a re-done crop. I can redo it if we're still unhappy with it, but I think this version is already an improvement over the current icon.
![Asset 16](https://user-images.githubusercontent.com/56092221/153938060-cb331605-82c8-4d24-b400-ddd5cea8df83.png)
s

[2022-02-14 20:11] Sabrina-Knappe commented on #160
Sending mp3 via slack because mp3 is not supported in github.

[2022-02-14 20:51] rohanakut opened #162 "Extension not showing rendering option on right-clicking an image"
The extension intermittently stops working and does not show the option of getting renderings on right-clicking the image.

The following was the system on which the error occurred:
Browser: Chrome(Version 98.0.4758.80 (Official Build) (arm64))
Extension downloaded from nightly on 10th of February
Tested on Macbook Air(2020)

Reproducibility: The issue occurs intermittently and hence it is very di

[2022-02-14 20:53] sriGanna commented on #162
I have a similar issue with the nightly version and custom builds (which work on Rayan's computer). These are screenshots of my errors in both chrome and edge
![image (4)](https://user-images.githubusercontent.com/16036636/153944697-962c89b9-35dc-44a8-af03-5c80639f9127.png)

![image](https://user-images.githubusercontent.com/16036636/153944711-1653d069-5d0e-409b-bf6d-9c9bbee5cc39.png)

[2022-02-14 22:45] jeffbl commented on #162
Copied from slack, following up on meeting for this issue after tech-arch:

There was a fix to the extension that should have been live in the build available last Thursday, Feb10. If you're using an older version of the extension, it had numerous issues involving the settings page and the [IMAGE menu item disappearing entirely](https://github.com/Shared-Reality-Lab/IMAGE-browser/issues/145). This

[2022-02-14 22:46] jeffbl commented on #162
Leaving open and blocking Open Beta milestone to see if anyone can reproduce this.

[2022-02-14 22:58] #123 closed

[2022-02-15 01:05] #84 closed

[2022-02-15 03:24] jeffbl commented on #162
Using the nightly extension from afternoon of 20220214, I cannot reproduce this, despite toggling the Developer Model option repeatedly, switching tabs, trying multiple graphics, etc.

[2022-02-15 03:48] Cybernide commented on #162
I'm not getting this either. Is there anybody else who can?

[2022-02-15 21:29] jeffbl commented on #162
Moved this to next milestone since we have not been able to reproduce on latest extension.

[2022-02-16 20:16] sriGanna opened #165 "Resetting the haply when closing the popup window"
We want to be able to reset the torques of the haply (in the worker) when we close the popup window.
It currently does reset at the start of a new instance but if the end effector is stuck before the start of the instance it will result in a rapid snap back home.

Based on a simple search it seems like it would be difficult to implement this upon closure of the pop-up, so an alternative approach c

[2022-02-16 20:46] jeffbl commented on #165
Does it automatically get collapsed on close? Otherwise I suspect not many people are going to manually collapse it before closing the window, unfortunately.

[2022-02-16 20:48] sriGanna commented on #165
Ya I haven't really checked but I suspect it doesn't automatically collapse so ya I think you'd be right

[2022-02-16 20:54] jeffbl commented on #165
Vaguely related to https://github.com/Shared-Reality-Lab/IMAGE-browser/issues/113. Not a solution, but if we're explicitly closing earlier windows, that might be another cue when we should reset it. @jaydeepsingh25 probably the best person to consult about options on this.

[2022-02-16 21:02] Cybernide commented on #148
Done

[2022-02-16 21:02] #148 closed

[2022-02-16 21:05] Cybernide opened #166 "Figure out the "localized" vs "global" screenshots (we're submitting the same ones for both for alpha) This is a language thing. As we don't support multiple languages, this is moot for us."

[2022-02-16 21:06] Cybernide opened #167 "Create optional promotional tiles"

[2022-02-16 21:07] Cybernide commented on #129
Done

[2022-02-16 21:07] #129 closed

[2022-02-16 21:08] Cybernide commented on #149
Finished

[2022-02-16 21:08] #149 closed

[2022-02-16 21:10] jeffbl commented on #166
Related to https://github.com/Shared-Reality-Lab/IMAGE-server/issues/152

[2022-02-17 16:04] Cybernide commented on #97
So I've found some graphics that don't work, but here's the thing: they're the same ones that don't work in Chrome.

Doesn't actually send anything when you use it on the graphics in the news feed when you make a new tab, or when you go to the carousel graphics on the MSN news website.
![image](https://user-images.githubusercontent.com/7490996/154518836-12b5bced-4401-44cc-8251-12e61479a385.png)

T

[2022-02-18 16:37] jeffbl commented on #162
Closing as not reproducible. Assumption is that this was indeed fixed last week in #145. @rohanakut if you do manage to reproduce it with a current build, please re-open.

[2022-02-18 16:37] #162 closed

[2022-02-18 17:28] JRegimbal opened #168 "Drop dropdowns in info.ts"
The point of the dropdowns was to add a way to go through a large number of renderings quickly. However,
1. We have fewer renderings now that many have been consolidated.
2. Almost every screen reader allows skipping between headers.

At this point the experience would probably be more consistent and simpler by removing dropdowns. Assigning to @Sabrina-Knappe since she was already thinking about t

[2022-02-21 18:09] jeffbl commented on #97
@cyan indicates she has tested and everything works as in Chrome, including settings. We need to make sure to test this again before major releases to make sure we don't break anything, but I'm closing this since it does currently work.

[2022-02-21 18:09] #97 closed

[2022-02-21 18:23] #120 closed

[2022-02-21 18:33] jeffbl commented on #113
@jaydeepsingh25 Can you estimate how long this is likely to take? If an hour or two, we'd like this for CSUN, otherwise we can live with it until after CSUN.

[2022-02-21 18:51] jeffbl commented on #29
@JRegimbal It is passing the actual full image now, so this is no longer an issue.

[2022-02-21 18:51] #29 closed

[2022-02-21 18:56] jeffbl commented on #64
No further issues found.

[2022-02-21 18:56] #64 closed

[2022-02-21 20:20] Cybernide commented on #51
[https://drive.google.com/file/d/13fU3NQ0tWjrgKSvmb9CuwkWUcsBrn2gv/view?usp=sharing](Processing data)
[https://drive.google.com/file/d/1z6WUiKcd6xjYIdamZBKsoevXzbTLuNeZ/view?usp=sharing](Results arrived)

[2022-02-21 21:26] jeffbl commented on #151
Not sure if control redesign will make this a non-issue?

[2022-02-25 17:23] #151 closed

[2022-02-25 20:06] jeffbl commented on #113
@Clarisa1999 Can we get status on this? If it turns out to be more complicated than expected, we need to re-evaluate this happening by CSUN.

[2022-02-25 20:11] jeffbl commented on #108
@aidanwilliams09 checking in on this. Is there a path to expand support before CSUN?

[2022-02-25 20:19] jeffbl commented on #141
@JRegimbal My understanding is that we still don't have a solid proposal here for full playback controls, so I am postponing this to post-CSUN. If there is a lighter-weight change going in that still has work to do (e.g., just a "stop" control), please open a separate issue for that.

[2022-02-25 20:39] JRegimbal commented on #141
We don't have a solid proposal yet. @Sabrina-Knappe has been working on an idea that seems promising, but I don't think has been fully vetted yet (correct me if I'm wrong). We have modified playback controls in as part of the rendering playback overlapping issue.

[2022-02-25 20:50] jeffbl commented on #168
@Sabrina-Knappe I'm talking wtih @Cybernide and if we want to do this, it needs to go to @jaydeepsingh25 asap so it can be implemented. Is there more design work to be done on this, or is it still uncertain whether this change is desired?

[2022-02-25 21:30] Sabrina-Knappe commented on #168
The design work is finished. I need to do one last check with NVDA, and @Cybernide needs to check with JAWS, but after that it can be implemented. Here is sample example of how it would work and how the html should be generated. The basic idea is that each overall section would be described under an H1, and then for the default audio rendering, the whole rendering as well as the segments would be

[2022-02-25 21:32] Sabrina-Knappe commented on #141
It needs to be vetted on NVDA/JAWS, then it is ready to be implemented.

From: Juliette Regimbal ***@***.***>
Date: Friday, February 25, 2022 at 3:39 PM
To: Shared-Reality-Lab/IMAGE-browser ***@***.***>
Cc: Sabrina Knappe ***@***.***>, Mention ***@***.***>
Subject: Re: [Shared-Reality-Lab/IMAGE-browser] Playback controls on navigable renderings (Issue #141)

We don't have a solid proposal yet. @Sa

[2022-02-25 21:50] #98 closed

[2022-02-28 19:09] jeffbl commented on #168
At this point, we won't have time to iterate this before CSUN even if it goes for implementation today. Really remote chance of this going in for CSUN if not in and stable by Friday.

[2022-02-28 19:13] jeffbl commented on #147
@jaydeepsingh25 We need an estimate on this since it would help the haply demo for CSUN. Ping me on gather to discuss. If this is not a large item, would love to have this in. @sriGanna / @rayanisran had some ideas on how to implement this, and seemed to think it might not be too intrusive/time consuming.

[2022-02-28 19:56] Sabrina-Knappe commented on #168
I see no issue with pushing this post CSUN, especially considering how close the deadline is. This fix mostly affects VO users, who are a relatively small portion of our audience anyway.

From: Jeff Blum ***@***.***>
Date: Monday, February 28, 2022 at 2:09 PM
To: Shared-Reality-Lab/IMAGE-browser ***@***.***>
Cc: Sabrina Knappe ***@***.***>, Mention ***@***.***>
Subject: Re: [Shared-Reality-Lab/IMA

[2022-02-28 20:31] Sabrina-Knappe opened #176 "Separate out SEM-SEG and OBJ-DET"
On Unicorn, make it so that sem-seg and obj-det renderings are returned as separate entities. This is to be used during CSUN to get clearer feedback on how users are interpreting semantic segmentation.

Assigning to Juliette for clarifications on what the smaller work items are.

[2022-02-28 23:04] JRegimbal commented on #176
We can either
1) Update the current combined handler to return additional single-preprocessor renderings,
2) Put the old handlers for each one back into production and update their code in SuperCollider to incorporate changes in the combined side, or
3) Update the old handlers to use the new more flexible responder for the combined handler.

3 would probably be the best option, but 1 is the quicke

[2022-03-02 16:38] #113 closed

[2022-03-02 18:44] jeffbl opened #181 "Change text-only handler to be enabled by default"
After discussion in the user-facing meeting this morning concerning users who would want the text rendering available to better understand the audio rendering, we need to enable text renderings by default when the extension is installed. @Cybernide has signed off on this verbally during the meeting.

[2022-03-02 20:13] Sabrina-Knappe commented on #176
Tagging @Cybernide and @jeffbl since they will be the ones dealing with this at CSUN

[2022-03-02 23:34] jeffbl commented on #168
@Cybernide fyi postponing this based on @Sabrina-Knappe comment above.

[2022-03-03 15:57] jeffbl commented on #176
I don't think we have REB for this yet, so I'm loathe to commit @JRegimbal 's limited time to it, since it would be 100% wasted if we end up not running this during CSUN. @Cybernide @Sabrina-Knappe do we have a solid plan for running this? (i.e., if this is implemented, and the REB comes through in time, is this key vs. things like implementing the user feedback system?) I'll be on gather this aft

[2022-03-03 17:56] Sabrina-Knappe commented on #176
This is Cyan’s purview. I won’t be at the booth so I haven’t been working on the planning for feedback gathering.

From: Jeff Blum ***@***.***>
Date: Thursday, March 3, 2022 at 10:58 AM
To: Shared-Reality-Lab/IMAGE-browser ***@***.***>
Cc: Sabrina Knappe ***@***.***>, Mention ***@***.***>
Subject: Re: [Shared-Reality-Lab/IMAGE-browser] Separate out SEM-SEG and OBJ-DET (Issue #176)

I don't think w

[2022-03-03 18:11] Cybernide commented on #168
Yes, it's unfortunate, but has to happen - there are a few more critical issues user facing

[2022-03-03 18:18] Cybernide commented on #176
After meditating on this a bit, I think we can mitigate the underlying issue of not understanding semantic segmentation with better and more accessible (and I even mean conventionally accessible, as in understandable) end user documentation. And I think it's worth a try doing that instead of making a whole work item browser-side for it.

I had always meant to completely revamp the website and this

[2022-03-03 22:38] #106 closed

[2022-03-04 17:56] #181 closed

[2022-03-07 14:41] jeffbl commented on #51
@hongyec Is there remaining work on this? If not, please close.

[2022-03-07 14:47] jeffbl commented on #157
Moving to post-CSUN. @Sabrina-Knappe @Cybernide please yell if there is something critical we need before CSUN....

[2022-03-07 18:11] #104 closed

[2022-03-07 18:11] #111 closed

[2022-03-07 18:11] #109 closed, assigned to sriGanna

[2022-03-07 18:12] #102 closed

[2022-03-07 18:36] #147 closed

[2022-03-07 19:29] hongyec commented on #51
kk! closed!

[2022-03-07 19:29] #51 closed

[2022-03-08 16:58] jeffbl opened #185 "Use correct data for Haply force calculations"
@rayanisran indicates there is a bug in the Haply code that causes the wrong data to be used for force calculation, which is likely the root cause of the Haply going into a bad state, mostly when jumping between segments.

[2022-03-08 18:01] JRegimbal opened #186 "High Charts Button Doesn't Consistently Appear"
From main in both Firefox and Chromium, the high charts button won't appear at https://etherscan.io/chart/tx sometimes. It appears if it is the first page loaded, but I cannot get it to appear if another page was loaded in the browser first.

[2022-03-08 21:41] #154 closed

[2022-03-09 00:06] jeffbl opened #191 "Core Haply experience update in extension"
@rayanisran  can detail the specifics of this item either here or in the associated PR, but this is the core update to the Haply code in the extension to enable the audio-haptic experience.

[2022-03-09 00:58] rayanisran commented on #185
Did some initial testing to compute the calculations for the transition points upon worker load rather than computing them "on the fly" after guidance through a region, but no luck (eventually this will be on the server). @dreamseed87 and I are convinced this is some sort of time synchrony issue with the device (sometimes?) not picking up the right coordinates at the right time when moving. Note t

[2022-03-09 02:28] rayanisran commented on #191
Still making changes to the PR based on Jaydeep's review but once done that should resolve this issue.

[2022-03-09 03:52] jeffbl opened #193 "Submit CSUN version of extension to web store & make public"
When submitting the browser extension, also make it publicly accessible.

[2022-03-09 04:19] #191 closed

[2022-03-09 15:55] Cybernide opened #194 "Progress indicator is quiet compared to the renderings and screen readers"
@JRegimbal you said you're just going to toss it into Audacity and adjust gain? If it's that simple, go for it, but also don't be afraid to assign someone else.

[2022-03-09 17:09] jeffbl opened #195 "Highchart not working for daily price chart"
This chart does not give any rendering:
https://etherscan.io/chart/etherprice

Which is surprising since it is from the same site and extremely similar to this chart, which does work:
https://etherscan.io/chart/tx

[2022-03-09 18:51] JRegimbal commented on #186
Seems to work on mine too now. Well, that was weird but I have no interest in debugging what isn't an issue.

[2022-03-09 18:51] #186 closed

[2022-03-09 19:57] rayanisran opened #197 "smoothen transition when approaching a new segment with the 2DIY"
There's currently a light but abrupt change in movement as the 2DIY end-effector "latches onto" a new region during guidance control. Should look into smoothening forces especially when the distance to the new point gets significantly closer.

[2022-03-09 19:59] jeffbl opened #198 "Renderings popup window: feedback text updates"
Suggest that current text at bottom of renderings popup window that is currently:

be changed to:

For two reasons:
1. I think we want to prioritize the feedback form, and encourage people to use that if at all possible. The email is really a fallback.
2. I think that is a bit more light/friendly, and a bit more concise

[2022-03-09 19:59] jeffbl commented on #198
Assigned to @Cybernide for vetting before going to @JRegimbal for implementation.

[2022-03-09 21:47] Cybernide commented on #198
Yeah, works for me @jeffbl  - let's get this in

[2022-03-09 21:59] jeffbl opened #199 "Chrome browser extension will break in Jan 2023 due to manifest version"
We're using extension manifest v2. This gives an error when loading it unpacked manually, but should have no end-user implications for the rest of 2022. In January 2023, the extension will no longer operate, with a forced move to v3:

https://developer.chrome.com/docs/extensions/mv3/mv2-sunset/

From a brief look, @JRegimbal indicates this is a non-trivial change that will require significant deve

[2022-03-10 03:39] jeffbl commented on #199
The largest implications are likely (hat tip @JRegimbal for taking a brief look):
1. https://developer.chrome.com/docs/extensions/mv3/migrating_to_service_workers/
2. Security changes

[2022-03-10 11:14] Cybernide commented on #193
Submitted and waiting approval

[2022-03-10 16:25] jeffbl commented on #193
Submitted last night. @Cybernide please reactivate in case of issues.

[2022-03-10 16:25] #193 closed

[2022-03-10 16:52] jaydeepsingh25 commented on #199
I also spent some time exploring this and i found out that a major dependency for v3 migration is https://github.com/parcel-bundler/parcel/issues/6079.
We use parcel bundler to build our extension, and we may need to wait till parcel formally supports v3 manifest. The latest available version(2.3.2) of parcel does not support it yet.

[2022-03-10 19:42] #198 closed

[2022-03-11 01:48] rayanisran opened #201 "Fix bad formatting in worker.ts"
This file doesn't use the standard formatting every other file does, so any changes in a formatted file off another branch with the actual contents are difficult to merge.

[2022-03-11 18:06] jeffbl commented on #194
@JRegimbal this is merged and should be closed, yes?

[2022-03-11 18:08] JRegimbal commented on #194
Only the server-side one was. Merging here.

[2022-03-11 18:08] #194 closed

[2022-03-11 19:04] jeffbl opened #204 "Error for no renderings available only has mail link, not feedback form"
If you have a photo that doesn't return any renderings, it pops up a window that just says something like, "IMAGE can't handle this, please email us to let us know". Since a valid request was made, this should use the [same path as the renderings window](https://github.com/Shared-Reality-Lab/audio-haptic-graphics-UX/issues/26), and allow the user to mark the request as OK for us to look at, and fi

[2022-03-11 19:06] jeffbl commented on #204
@Cybernide too late for CSUN unless you think absolutely crucial, unfortunately, but I'd argue this should go in shortly after.

[2022-03-11 19:55] #197 closed

[2022-03-21 17:34] jeffbl opened #205 ""IMAGE results arrived" progress indicator is apparently not true"
At CSUN, there seemed to be big problems on their network, especially with maps. After querying, the progress system would eventually say "IMAGE results arrived". However, for maps (e.g. on the tutorial page) the actual rendering window would not show up for something like 40 seconds. This was reduced by [switching to flac](https://github.com/Shared-Reality-Lab/IMAGE-server/pull/401) to reduce the

[2022-03-22 03:40] rayanisran commented on #103
Given how the 2DIY guidance control (on the web?) seems tricky to fine-tune for the initial experience we created, let alone for any future sophisticated setup procedures that may end up being a hassle for blind users (such as initial calibration), I think post March 31 might be a good time to look into this, since the 2DIY is far less likely to break in exploration mode. We could revisit the phys

[2022-03-22 19:20] jeffbl commented on #168
Start with @jaydeepsingh25 , and he can reassign as necessary.

[2022-04-06 21:46] JRegimbal opened #213 "Regression: Local Graphics Not Working"
Support for local graphics was added in #36, but no longer works in 2b4aa8f1 (tag 0.1.42).

[2022-04-07 15:00] BenMacnaughton opened #214 "Width and height in `dimensions` extracted from incoming graphics sometimes fail to match with size of graphic in request"

[2022-04-07 16:39] jeffbl commented on #213
@JRegimbal I assume this is most likely on the browser side, so should be assigned to Jaydeep?

[2022-04-07 17:16] JRegimbal commented on #213
It seems to be on the browser side from my (brief) look.

[2022-04-11 14:24] jaydeepsingh25 opened #215 "Create Audio for "Downloading Results""
As discussed in https://github.com/Shared-Reality-Lab/IMAGE-browser/pull/206, we need to create an audio for "Downloading Results" indicator instead of the "Processing Data" which is being currently used.

[2022-04-13 19:33] Cybernide opened #216 "IMAGE menu item appearing on URLs"
Examples below.

![image](https://user-images.githubusercontent.com/7490996/163256241-6c02b71e-aa49-443e-9e49-d4b7c4122126.png)
![image](https://user-images.githubusercontent.com/7490996/163256354-2c4e9dc1-e5a8-4c6c-9d8e-f7201dc902e3.png)

[2022-04-14 19:02] jeffbl opened #217 "Etherscan charts do not get a button in Firefox"
Testing firefox extension.
Ubuntu Linux, Firefox 99.0.1 (64-bit) installed via Snap.

Loaded extension manually, marked 0.2.4

Photos seem to work fine
Map on tutorial page seems to work fine
Charts on the quebec covid site seem to work same as in Chrome (https://www.quebec.ca/en/health/health-issues/a-z/2019-coronavirus/situation-coronavirus-in-quebec)

Go to etherscan:
https://etherscan.io/chart

[2022-04-15 19:27] jeffbl opened #227 "Add /preprocess endpoint for maps"
As with photos, it would be useful to be able to get the preprocessor data easily through the extension.

[2022-04-21 19:21] jeffbl commented on #83
This is pending a fix for the [button not showing up for some charts](https://github.com/Shared-Reality-Lab/IMAGE-browser/issues/217).

[2022-04-21 19:22] jeffbl commented on #205
@hongyec If this was resolved by #206, please close. If not, please comment with what remains to be done.

[2022-04-21 19:32] jeffbl commented on #127
@Cybernide At least one of the upcoming conferences requests a video. I think it is optional, but it could potentially be used there as well.

[2022-04-21 20:04] jeffbl commented on #168
@Sabrina-Knappe Is this ready for implementation? If so, it needs to be assigned to @jaydeepsingh25 with necessary wireframes. If not, please comment with remaining work until this can be assigned to development.

[2022-04-21 20:13] jeffbl commented on #108
@BenMacnaughton @aidanwilliams09 Can you do a debrief on this with @jaydeepsingh25 to make sure he knows the current status before you head off, since we will have to address this going forward?

[2022-04-22 03:28] jeffbl commented on #52
@Cybernide This is done, no? I assume we have to do more formal testing of it, but this was in for CSUN, correct? If so, please close, or else describe work still to be done. (Or create new, more specific work items for modifications post-CSUN)

[2022-04-22 03:30] jeffbl commented on #199
Whether or not we know where later funding will come from, we should have a more solid plan/estimate for this work, even if it can't be done within the IGNIT timeframe.

[2022-04-22 11:46] JRegimbal commented on #199
As an update, it seems that parcel now supports building to v3 of the manifest based on [this merged PR](https://github.com/parcel-bundler/parcel/pull/7050).

[2022-04-22 19:47] Cybernide commented on #127
Yeah it definitely needs to be a thing in case we do more outreach and/or promotion and say, the server is down

[2022-04-22 19:50] Cybernide commented on #52
Yes, this is finished. If anything comes up, I'll make a new issue.

[2022-04-22 19:50] #52 closed

[2022-04-23 18:39] hongyec commented on #205
Hi @jeffbl , I think it has been resolved. I will close it now!

[2022-04-23 18:39] #205 closed

[2022-04-24 18:55] hongyec commented on #82
Hi @jeffbl @jaydeepsingh25, I think it's not unique to flickr site. When I try google image, it's the same issue.

Go to page: https://www.google.com/search?q=image&oq=image&aqs=chrome..69i57j35i39l2j0i433i512j46i175i199i512j46i131i433i512j0i512j0i433i512j46i131i199i291i433j0i433i512.535j0j15&sourceid=chrome&ie=UTF-8
Right click any thumbnail.
Right Click -> IMAGE extension -> Get IMAGE rendering

[2022-04-24 22:57] jaydeepsingh25 commented on #82
Initial investigation results:

- for images on flickr site: It does not work because thumbnails are not an image tag, it is a "div" element with a "background-image" css property. The context menu appears because there is a "link" inside div. (and currently, we display context menu for both - "images" and "link"). May be we need to remove the context menu option for "links". - fix in PR https://g

[2022-04-26 02:29] #216 closed

[2022-04-26 23:19] #213 closed

[2022-04-27 16:21] jaydeepsingh25 commented on #214
From initial investigation, it seems that the image is not at all resized. Probably something is wrong with the library being used to resize image blob. Can you please look into it @hongyec ? May be you need to find a better way to resize the images.

[2022-04-29 02:33] jaydeepsingh25 opened #220 "Handle images binary data"
Currently, IMAGE extension does not work for images where the src is blob data. It will be great to add support for these images.
For example: Images in Google search results:
https://www.google.com/search?q=airport&tbm=isch&source=hp&biw=1366&bih=657&ei=o01rYpTXKNiStAaFp7eADw&iflsig=AJiK0e8AAAAAYmtbs43u60hOlCp8ImO8ftH-6KFM31NY&ved=0ahUKEwjUtLqLnbj3AhVYCc0KHYXTDfAQ4dUDCAc&uact=5&oq=airport&gs_lcp=

[2022-04-29 02:35] jaydeepsingh25 commented on #82
closing this issue as it is fixed by https://github.com/Shared-Reality-Lab/IMAGE-browser/pull/218. For flickr site, the context menu will no longer appear as the thumbnails are not "image" tags. These images are added by css.
Created issue https://github.com/Shared-Reality-Lab/IMAGE-browser/issues/220 to support images in google image search results.

[2022-04-29 02:35] #82 closed, assigned to hongyec

[2022-04-29 02:46] #220 closed

[2022-05-02 19:53] JRegimbal commented on #141
@Sabrina-Knappe any update on the testing for this?

[2022-05-02 19:55] Sabrina-Knappe commented on #141
Works on NVDA. Cyan’s JAWS expired so I’m going to try to get JAWS and test with it.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Juliette ***@***.***>
Sent: May 2, 2022 3:54 PM
To: ***@***.***>
Cc: Sabrina ***@***.***>; ***@***.***>
Subject: Re: [Shared-Reality-Lab/IMAGE-browser] Playback controls on navigable renderings (Issue #141)

@Sabrina-Knappe<https://

[2022-05-03 17:52] Sabrina-Knappe commented on #168
Assigned to Jaydeep for implementation.

[2022-05-03 18:18] Sabrina-Knappe commented on #157
@sriGanna Since we are moving out Haply integration, should we begin focusing on integrating the dot with the UI instead?
@dreamseed87

[2022-05-03 19:10] dreamseed87 commented on #157
I believe further haply integration has been postponed (for MEDTEQ).
Also good to start preparing Dot UI, but not sure it should be prioritized; given that Dot Pad will be released in 2023.

[2022-05-03 20:09] sriGanna commented on #157
ya from what I understand I think the focus for ignite is User testing instead of integration. But we could probably work on testing UI out of the architecture if that makes sense

[2022-05-04 22:08] jeffbl commented on #83
Postponing a sprint to give more time to charts, since it looks like this may be nontrivial.

[2022-05-04 22:08] jeffbl commented on #217
Postponing a sprint to give more time to charts, since it looks like this may be nontrivial.

[2022-05-05 20:38] Cybernide commented on #134
Quick research suggests that it should probably allow for quick options to be manipulated, maybe this is where people can specify their rendering options quickly here? @Sabrina-Knappe what do you think?

[2022-05-09 17:23] jeffbl commented on #204
@hongyec Do you need any further information on this in order to complete it this sprint?

[2022-05-09 17:53] JRegimbal commented on #141
Reassigning to @Sabrina-Knappe until it's vetted and there's something for me to actually test/implement!

[2022-05-09 17:54] jeffbl commented on #108
@jaydeepsingh25 if specific issues arise on this, please ping @BenMacnaughton @aidanwilliams09 . Moving to future sprint.

[2022-05-09 19:09] rayanisran commented on #201
Yep.

[2022-05-09 19:09] #201 closed

[2022-05-09 20:24] JRegimbal opened #223 "Possible Performance Issue with 2diy Loop"
My reading of this line (correct me if I'm wrong) is that we will wait at least 1 ms before running each iteration of this *in addition to* whatever time is spent running logic on each loop.

https://github.com/Shared-Reality-Lab/IMAGE-browser/blob/edae95294f5164e062de158678039718f834844e/src/info/worker.ts#L398

This could be a source of some amount of instability in the current behavior. Would i

[2022-05-10 15:24] hongyec commented on #204
Hi @jeffbl, just back from vocation. Will take a further look at it today!

[2022-05-10 17:07] jeffbl commented on #204
Yes, so that the user has the option of pointing us to the graphic that provided the menu item/button, but did not actually return any rendering. The idea is that they might have expected it to work, and maybe it *should* work, but there is some glitch in how we're handling things. UI-wise, it should be as close as possible (identical?) to the case where a rendering is actually returned. If any qu

[2022-05-11 18:05] #204 closed

[2022-05-20 18:53] sriGanna commented on #223
[samplelog.log](https://github.com/Shared-Reality-Lab/IMAGE-browser/files/8743381/samplelog.log)

This is the sample log with no real process running just the haptic loop

[2022-05-21 17:35] JRegimbal commented on #223
So this is just line 398 then? Or do you mean this is the time taken in the loop between the start of each iteration and before line 398?

[2022-05-30 18:13] jeffbl commented on #168
Assigning to @Sabrina-Knappe since there is a PR raised on this that is assigned to her for review before this goes into production.

[2022-05-30 18:22] sriGanna commented on #121
similar to [Server #277](https://github.com/Shared-Reality-Lab/IMAGE-server/issues/277). we can work on this integration into the browser once the user studies are underway

[2022-05-30 18:24] sriGanna commented on #223
sorry for the late reply! No, it's running the loop true loop but guidance isn't turned on (so it's a bit less intensive)

[2022-05-30 19:08] #214 closed

[2022-05-30 21:08] Cybernide commented on #141
@jeffbl Recommend postponing - UX team will discuss what needs to be done

[2022-06-01 18:03] Sabrina-Knappe commented on #141
Gated by #168
We need to test the new functionality to find out how to proceed.

[2022-06-06 14:35] Cybernide commented on #127
It's in progress, but slow going - recommend moving out

[2022-06-06 14:41] jeffbl commented on #127
No pressing need known now that Jun1 talk is over. Moving forward one sprint.

[2022-06-06 14:50] jeffbl commented on #168
Pending panel testing. Moving forward one sprint.

[2022-06-09 14:37] jeffbl opened #229 "Implement new renderer for visual debug tool"
Implement new renderer with following capabilities:

- Displays a dropdown of layers the user can select
- draws the chosen layer SVG over the original content

If there are UI questions, please ping @Cybernide for a wireframe.

[2022-06-09 14:42] jeffbl opened #230 "Send developer mode flag to server as part of capabilities"
The server needs to know whether the user has enabled developer mode in the client options, so that debug handlers (e.g., those discussed in #229) can decide whether or not they should be run. @JRegimbal has argued this should be part of the reported capabilities, which makes sense to me. Note that this is separate from having the debug rendering capability listed, since even if the client *can* r

[2022-06-14 19:49] jeffbl commented on #223
@JRegimbal also suggested trying `setInterval` in slack, so wanted to capture that here.

Postponing to backlog to pull it back out depending on priortization of 2diy support given future funding. At this point, my sense is that there are some likely flaws in the current implementation that would make things better if fixed, but we still don't know if there are fundamental limitations of running i

[2022-06-14 20:28] Cybernide commented on #168
@Sabrina-Knappe Let me know when you're ready to panel test

[2022-06-14 20:33] dreamseed87 commented on #223
As you know and we've clarified, yes, these are still a hypothesis. We'll do the test with a random interval of sleep (in processing) to reproduce such "weird" behaviour first, besides of NFB and user study support. If our assumption is right, then we can jump into resolving such "lag" in web extension.
If the assumption is right and there's no glitch(es) in the code, the solution might be twofold

[2022-06-14 23:21] #91 closed

[2022-06-20 22:04] jeffbl opened #232 "Release updated browser extension"
For NFB, release new browser extension version in order to pick up new functionaliy including new highcharts functionality.

[2022-06-27 21:22] jeffbl commented on #141
Moving to next sprint because #168 is in testing, and this is gated on that testing...

[2022-06-30 01:06] jeffbl opened #235 "Use Google Maps links near static image google map embeds"
There are maps on some major sites like TripAdvisor that are static graphics, so won't work with the code implemented for #108:

https://www.tripadvisor.com/Restaurant_Review-g34438-d23806008-Reviews-Mayami_Wynwood-Miami_Florida.html

However, note that:
1. if you click the map, it takes you an actual Google map, so the address/coordinates are likely available somehow.
2. There is an actual google

[2022-06-30 01:20] jeffbl commented on #235
Others that do weird things:

https://restaurantguru.com/Le-Pegase-Montreal (has static openstreet map that seems to link to a google map?)

https://www.zomato.com/montreal/le-caf%C3%A9-bloom-montreal (static openstreet map, plus link with lat/lng directly embedded linking to google map of route to get there)

[2022-06-30 15:23] jeffbl opened #236 "Long delay before popup when getting IMAGE rendering"
Brave on Linux, but Juliette is seeing in Chromium on Linux as well.

Installed latest extension build (https://github.com/Shared-Reality-Lab/IMAGE-browser/actions/runs/2586343477)
Options -> run against unicorn
Enabled Developer mode (but Juliette did not)
Right click and "get IMAGE rendering" on photo from IMAGE homepage
EXPECT: progress popup appears right away
ACTUAL: Up to 5s delay before pro

[2022-06-30 15:27] jeffbl opened #237 "Brave: Extension developer mode doesn't show Haply options"
Still works in Chrome on Linux
In Brave on Linux, running latest extension build (https://github.com/Shared-Reality-Lab/IMAGE-server/issues/457)
In extension options, turn on developer mode, and see this:

![image](https://user-images.githubusercontent.com/2095406/176716124-30585f31-d003-48c0-9e94-093ca6ebcbf2.png)

EXPECT: Haply options should appear.

Unless we find similar behavior on another m

[2022-06-30 15:31] jeffbl commented on #236
For Juliette and me, both charts and maps via the button are both instantaneous, so this appears to be on photos only.

[2022-06-30 15:57] JRegimbal commented on #236
Compression is running on all images...

[2022-06-30 15:58] #236 closed

[2022-06-30 16:05] jeffbl opened #238 "Review extension photo compression pipeline"
One problem was found in https://github.com/Shared-Reality-Lab/IMAGE-server/issues/457, which was due to compression always running, even on small, small dimensional photos. It also seemed to make small images *larger* after compression. The quick fix is probably not the correct long-term solution, but should fix things for NFB, and still be better than what we had at CSUN. Things to consider:

1.

[2022-06-30 16:08] JRegimbal commented on #238
Looks like we can make the check more robust by just verifying if the file size and image dimensions are within allowed ranges before running compression. As for duration, we might be able to get some benefits by playing with quality but it may be worth looking at the tradeoffs after we remove the majority of cases where compression isn't necessary.

[2022-06-30 17:57] jeffbl commented on #85
@Cybernide testing today on large machine, this is super irritating since it makes these enormous windows. I'm moving this into Aug08 milestone as a tweak, but if we can't get something smart done, would it at least be feasible to set a hard-coded maximum size?

[2022-07-01 00:16] Cybernide commented on #85
I'm certain it wouldn't be a difficult fix to just set it to a maximum of the sum total of all the elements in the window

[2022-07-01 20:13] jaydeepsingh25 commented on #237
I believe this is expected behavior. The functionality was implemented as part of work-item https://github.com/Shared-Reality-Lab/IMAGE-browser/issues/84, and thus the haply option should not come for browsers that do not support Web Serials. Brave and infact Firefox also does not support Web Serial API and hence the option is not visible on these browsers. @jeffbl please let me know if i need to

[2022-07-01 20:16] jeffbl commented on #237
And, I think this might even be a dupe, since I got fooled on this before, since I forgot that Brave is different in this respect! Closing.

[2022-07-01 20:16] #237 closed

[2022-07-01 20:18] jeffbl commented on #232
Completed yesterday afternoon by @Cybernide Closing.

[2022-07-01 20:18] #232 closed

[2022-07-01 23:31] jaydeepsingh25 commented on #108
Also, I am listing a few links where the website has Google map embedded on the webpage, but the "Get IMAGE Map Rendering" option does not appear for them. I suspect that the maps on them are integrated through JavaScript, but I am not sure if it is the case for all of them. I believe it will be worth exploring some way so that the extension can support a greater number of webpages with maps:

- h

[2022-07-04 20:37] jeffbl commented on #238
@JRegimbal Leaving this in current sprint if you would have time to look at it since you touched on it already. Otherwise will move to next sprint on @jaydeep's plate.

[2022-07-05 15:57] jeffbl commented on #229
Rough wireframe. @Cybernide please weigh in if any issues.

![image](https://user-images.githubusercontent.com/2095406/177368771-533769cf-988d-4638-a7c3-a39b0dec88e5.png)

[2022-07-05 16:07] jeffbl commented on #237
Bringing this back with the idea that it would be better to put in a string in this case, e.g., "Haply 2diy: Unavailable since this browser does not support Web Serial."

[2022-07-11 13:51] JRegimbal commented on #108
@hongyec @jaydeepsingh25 Could one of you please make a checklist of what needs to still get done for this issue? At first glance the maps in the list above don't seem to have the same setup and I'm not sure what the scope of this issue is.

[2022-07-11 18:21] jeffbl commented on #108
Suggest that these be classified and converted into separate issues made so they can be triaged separately...some might be much more difficult than others? Once new issues created, this can be closed.

[2022-07-13 15:24] JRegimbal commented on #238
@jeffbl @jaydeepsingh25 do either of you know why we're checking image dimensions in here? Size makes sense since that directly impacts what the server will accept (too large and the request will be refused), but I can't think of a reason why we'd be resizing at this stage.

[2022-07-13 21:12] jaydeepsingh25 commented on #238
I think we were doing a similar resizing based on the height/width in a few preprocessors at the server side, may be that is why we tried to implement a similar logic at the extension, my understanding is that Machine Learning models  at the server will fail to give correct results if there are too many pixels in an image. Thus we have an additional check for image size to handle the cases where o

[2022-07-14 02:18] #227 closed

[2022-07-14 17:44] JRegimbal commented on #238
I can't speak to the correct/incorrect results...I'd imagine most of these pipelines would handle resizing as part of their basic image preprocessing steps before they get into the CNN (and would probably do so much more quickly than in the browser!) and would otherwise end up throwing a tensor mismatch error or something. I'd imagine @rohanakut knows what the case is with what we're using.

[2022-07-17 19:33] #230 closed

[2022-07-25 19:58] jeffbl opened #243 "Try Apple's Chrome extension conversion tool to enable extension on Safari/iOS"
Apple has a [tool for converting a Chrome extension to work on Safari/iOS.](https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari) It is not clear how well this works, or if our extension requires capabilities that are not supported.

Note that the [current extension has to be refactored anyway](https://github.com/Shared-Reality-Lab/IM

[2022-07-26 02:26] jeffbl commented on #217
@hongyec indicates he has not been able to figure this out, so assigning to @jaydeepsingh25 for futher investigation or eventual reassignment.

[2022-07-26 03:37] jeffbl commented on #108
#235 has been created to handle static embeds that have the lat/lng integrated nearby, but I'm not sure the examples from @jaydeepsingh25 above are the same cases. @hongyec can you please look at the links above, and see if they are redundant with #235, and if not, create new work items to handle specific cases of non-standard google map embeddings?

[2022-07-28 17:28] Cybernide commented on #127
https://www.youtube.com/watch?v=D5bmL36027s

[2022-07-28 17:29] Cybernide commented on #127
I've added it to the Chrome extension store

[2022-08-01 16:06] jeffbl commented on #238
@rohanakut can you indicate if you see any issues with Juliette's proposal above? If not, we're going to go ahead with merge. @JRegimbal Needs to be stress tested a bit on unicorn before going to pegasus, so please ping me when this gets merged/deployed to unicorn.

[2022-08-02 13:29] rohanakut commented on #238
@JRegimbal I am okay with the proposal. My only concern is that we should not make the images too small. Although big images don't have an impact on the accuracy small images do have an impact. Could you please let me know the threshold that you are planning to set?

[2022-08-02 15:08] sriGanna opened #244 "Update Haptics General ReadMe"
This work item is to update the existing general ReadMe for the haptics code in the browser.

The issue can be closed by updating ReadMe with the following information:

What this repo contains
Where/ how is it used? (inputs/outputs)
any dependencies

[2022-08-03 16:24] JRegimbal commented on #238
@rohanakut > 4MB, the same size threshold already in use in the extension.

[2022-08-03 16:31] jeffbl commented on #127
Great to have a video overview of the project!

Comments for future versions:
- "which does not rely on textual information" seems like odd phrasing. Not sure people will get what that means.
- for maps, it isn't that information is not commonly provided about surrounding POIs (they often are visually), but that maps typically have NO available non-visual rendering.
- State where the metro map is

[2022-08-03 16:34] JRegimbal commented on #244
Looks good, but one suggestion for the sections: something describing the haptic loop used in the browser extension if this is not already intended to be part of communication between 2DIY and browser extension. There's a lot going on there and it deserves some attention, especially since it may be the source of some performance issues.

[2022-08-03 16:48] #238 closed

[2022-08-04 01:06] Cybernide opened #245 "Update IMAGE overview video"
Great to have a video overview of the project!

Comments for future versions:
- "which does not rely on textual information" seems like odd phrasing. Not sure people will get what that means.
- for maps, it isn't that information is not commonly provided about surrounding POIs (they often are visually), but that maps typically have NO available non-visual rendering.
- State where the metro map is

[2022-08-04 01:07] Cybernide commented on #245
Accidentally made this in browser

[2022-08-04 01:10] Cybernide commented on #168
If I understand right, this is pending some logic fixes

[2022-08-07 19:54] rohanakut commented on #243
@jeffbl I tried to convert the extension to safari. I had used the latest nightly build(as of Aug 7) for the same. The following were my observations:
1. I did not face any issues in converting the chrome extension to safari. I followed their [documentation](https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari) and did not get any err

[2022-08-08 16:35] jeffbl commented on #217
@hongyec in slack, you indicated (and showed screenshots) of the button appearing on etherscan.io charts. However, I just installed a newly built version of the firefox extension from main (built by Juliette), and using Firefox on Ubuntu Linux, I still do not see the buttons appearing. I am not sure if this is an OS-specific issue, or if there is some timing difference between your machine and min

[2022-08-08 16:40] jeffbl commented on #217
Just verified the button does not appear when using it on my laptop (also running Ubuntu). Thought it might have different timing, so might work if that is the issue, but I'm 0/2 in this working on Ubuntu.

[2022-08-08 16:43] jeffbl commented on #217
@JRegimbal  reports that it is not working for her on Debian either. She does see the charts button on the Quebec covid stats page, but not on etherscan.io.

[2022-08-09 19:15] jeffbl commented on #243
@rohanakut Thanks - that is awesome that it builds and runs at all! As discussed at tech-arch, if possible to also try the tool to create an iOS version, that is even more useful, since the major gain would be to get IMAGE working on mobile devices.

[2022-08-11 17:18] Cybernide commented on #127
I've copied this text into a new issue - closing

[2022-08-11 17:18] #127 closed

[2022-08-20 15:10] jeffbl opened #246 "100% CPU use by IMAGE browser extension"
Jeremy reports, "seen several occurrences of the IMAGE extension taking 99% of a CPU core under Chrome (as viewed in the Chrome Task Manager), even though I haven’t issued any requests through it in a long time.  Don’t know if this is a Mac-specific issue".

Not sure if this is Mac specific. I'll try and keep an eye out on Linux to see if is there as well. I'd expect that there is a CPU spike on p

[2022-08-20 17:26] jeffbl commented on #246
I am definitely seeing  this as well in Brave on Linux. IMAGE extension is consuming an entire core when loading some pages, for many seconds (like 10s). Ironically, one page that seems to trigger it is:

https://www.lifewire.com/google-chrome-task-manager-4103619

![image](https://user-images.githubusercontent.com/2095406/185759166-de8848b2-bde7-4c2f-bbf1-1be620d28299.png)

[2022-08-21 22:42] rohanakut commented on #243
@jeffbl I ran the extension on iOS. The extension builds successfully. However, on running it on an emulator I received the following error
<img width="373" alt="Screen Shot 2022-08-21 at 6 39 42 PM" src="https://user-images.githubusercontent.com/27781159/185813842-d7b8461f-572c-4d6f-b82d-bdb169f43316.png">

I believe this error occurs because the extension takes up too [much memory or is not opti

[2022-08-24 14:08] jeffbl opened #247 "Frequent very long delays in progress popup (over 30s in some cases)"
Install either publicly released extension or current build from 20220824
Brave or Chrome on Linux (cyan reports also getting this on Edge, Juliette getting delays as well, I assume in Chromium)
Trigger IMAGE on [boat photo](https://media-manager.starsinsider.com/gallery/1080/na_5a61d6b7bcd63.jpg). Also reproduced on [street scene](https://images.thestar.com/er2g3q0JgpYi1nUkEh5wJamsokU=/744x446/sm

[2022-08-24 14:14] jeffbl commented on #247
May be related to https://github.com/Shared-Reality-Lab/IMAGE-browser/issues/246

[2022-08-24 14:20] jeffbl commented on #247
More details. Pretty sure this is related to #246. In Chrome, I'm watching the CPU usage. When starting fresh, there is no CPU used by IMAGE tab. When making first request, it uses CPU (expected). However, after results come back, the tab is still at 100% CPU use for a while (unexpected). While it is at 100% CPU use, if I make another request, it doesn't pop up the progress dialog until the CPU dr

[2022-08-25 00:09] rohanakut commented on #243
@jeffbl can this be closed?

[2022-08-26 19:22] mcgill-srl commented on #246
I'm now seeing the heavy CPU load from the extension under Chrome on a Chromebook. Note that in all cases, I did not actually interact with the extension before seeing the high load.

[2022-08-26 19:31] jeffbl commented on #246
@jaydeepsingh25 This coupled with #247 are top priority, especially since they smell to me like they are linked, and between the two of them, make the extension sometimes unusable.

I have not looked hard, but I don't recall seeing the CPU load until I'd made a query, beyond during page load, when I assume it is actually going through the page and looking for maps and charts, etc. That spike didn'

[2022-08-30 18:47] mcgill-srl commented on #247
Ok, just saw the 100% CPU on my ancient iMac. First try to get a rendering took ~3 s before "Image request sent" but subsequent requests are taking closer to 15 s.  Killing and restarting the extension is now seemingly *not* sending the image request—I've waited several minutes with nothing happening.

Restarting Chrome, and the behaviour is as Jeff described: first request goes quickly, but subse

[2022-08-31 14:03] jeffbl commented on #247
I reproduced this against unicorn test server (unicorn) this morning, so it is not unique to production (pegasus)

[2022-08-31 14:58] jeffbl opened #248 "Charts button sometimes obscures the actual chart"
Current extension 0.3.0 from Chrome store, running in Brave on Ubuntu Linux
Go to etherscan.io homepage
Note Get IMAGE Rendering button that we add obscures the bottom of the actual chart:
![image](https://user-images.githubusercontent.com/2095406/187708245-bed1f5a2-d75e-4c61-b3d4-7c8afed6001a.png)

Expect: Expand that region or overlay button in a way that doesn't obscure the actual chart. If dif

[2022-08-31 15:12] jeffbl commented on #247
I also reproduce it with the charts button (e.g., on etherscan.io homepage). First trigger is normal and very fast, second there is a long delay. This would point away from compression, since we wouldn't be compressing the chart like we do photos.

[2022-08-31 15:50] JRegimbal commented on #247
I think I found the underlying cause @jaydeepsingh25. The issue is coming from the function called on line 307 of background.ts to clear from the port list when the port is killed. The [call with indexOf](https://github.com/Shared-Reality-Lab/IMAGE-browser/blob/02a04c8685fe3b36e38453572dc8c1870ace6839/src/background.ts#L304) takes several seconds because, for reasons I can only speculate on right

[2022-08-31 19:58] jeffbl opened #249 "Avoid putting maps button onto static maps we cannot handle yet"
There are cases where we put a button on a map, even though we should already know we won't be able to get a lat/lng to send to the server, so no renderings will be possible. This work item is to improve the intelligence within the browser extension to avoid placing a button on, for example, static map graphics.

[2022-09-01 20:51] JRegimbal commented on #247
Great, thanks for fixing this. The troubles with test code staying in production! Were you able to find out why the array had so many empty/undefined entries?

[2022-09-02 14:08] jeffbl opened #251 "Saving graphic for further processing in feedback system fails"
Caught by @Cybernide - good catch!

Go to etherscan.io
Tiny chart on right side of page should have a "Get IMAGE rendering" button
Click button
In popup dialog, check box for "(Optional) I consent to the IMAGE project saving this request and the responses associated with it under the conditions described above."
Note: nothing happens:
Expect: get form for submitting the graphic for analysis.

Note

[2022-09-02 14:21] jeffbl opened #252 "Minor text change to "cannot render" page text"
There is a space missing in the text on this page between two sentences. I failed to save the suggested change in my PR review before the other changes were committed, so this did not make it in. Change direct link:

https://github.com/Shared-Reality-Lab/IMAGE-browser/pull/250/files#r961733922

[2022-09-02 14:23] jeffbl commented on #252
Marking as production issue so that it will be fixed at the same time as #251, in version 0.3.2 release.

[2022-09-02 17:54] jeffbl commented on #247
@jaydeepsingh25 I believe this can be closed?

[2022-09-02 17:55] jeffbl commented on #246
Please wait to close until Jeremy confirms he's not seeing this anymore when using released extension 0.3.1.

[2022-09-02 21:37] jeffbl commented on #247
Going ahead and closing based on tests of 0.3.1 release.

[2022-09-02 21:37] #247 closed

[2022-09-03 02:18] Cybernide commented on #251
Yay, I did a thing!

To be very specific, what happened to me was I ran IMAGE on the first photo in the front page

Checking the box gave me a message box with the heading "IMAGE Extension" and a message "An unexpected response was received! Status 404" for which I had to click "OK" to clear. It then took me back to the popup window

[2022-09-09 20:41] jaydeepsingh25 opened #254 "Extension should gracefully handle the scenario when invalid custom url is entered in settings"

[2022-09-09 21:56] jeffbl commented on #246
Closing based on fix. If we see it again, will reactivate this issue.

[2022-09-09 21:56] #246 closed

[2022-09-09 22:01] jeffbl commented on #246
(I test on Brave, and I do not see the CPU ever hitting 100% when using IMAGE trying it on a few graphics)

[2022-09-12 13:41] jeffbl commented on #249
@jaydeepsingh25 if not clear, please ping me on this.

[2022-09-12 14:43] jeffbl commented on #251
Seems to work using the extension built from the merge above. However, I don't see the UUID filled in. I submitted a report a few minutes ago. @JRegimbal can you confirm that there is an uploaded entry correctly saved on the server? What makes me nervous is that I don't see the UUID field filled in on the form:

![image](https://user-images.githubusercontent.com/2095406/189683901-6d281e97-b38a-4bd

[2022-09-12 20:10] JRegimbal commented on #251
I didn't implement this, and if I did I forgot :laughing:
It is being filled and saved correctly when the user does check the consent box. When not, I don't think we get any benefit from having it filled since we won't be able to see outputs related to that request.

[2022-09-12 20:26] jeffbl commented on #251
@JRegimbal it was more to check that the right thing had happened on the server in the end.

Anyway, I was sure I'd checked the consent box, and still not seen the UUID in the form. But I just tried it again (twice), and it correctly appeared both times. I'll chalk this up to user error unless we see it again...

[2022-09-14 14:01] jeffbl opened #257 "Push extension v0.3.2 to Chrome web store"
#251 #252 #254 are all ready to go, so we should push a new version to the chrome store to move these into deployment. If any issues, please ping @jaydeepsingh25 .

[2022-09-14 20:45] jeffbl opened #258 "Create IMAGE extension beta in chrome web store"
We'd like to give new versions of the extension to beta testers (or even members of the IMAGE team!) without requiring the annoying step of unpacking a .zip file and manually loading it into the browser. It would be great if like with mobile app stores, we could just have a separate "beta" version under the same entry as the production extension, but this is not possible. The sanctioned way to do

[2022-09-14 20:49] jeffbl opened #259 "User reports being unable to effectively use extension with screen reader"
User who we meet with Wednesday mornings reports that using mouse, can use extension fine, but when tries to do it completely unsighted with keyboard, is unable to activate IMAGE. Not clear if this is a keyboard shortcut issue for bringing up context menu, or something else. Need to track down actual issue and determine if it is technical, more explanation is needed, or there is a UI change that n

[2022-09-14 22:48] JRegimbal commented on #258
I worry a little bit about having the default be to have changes both in the server and extension. If people use Unicorn so heavily though, maybe it should be an actual option in the extension (or at least the beta version) rather than something that needs to be manually input?

[2022-09-15 20:27] JRegimbal opened #260 "Feasability test of HOA in the browser"
[JSAmbisonics](https://github.com/polarch/JSAmbisonics) has several good demos using 3rd order ambisonics and is built into the Web Audio API. That being said, we still need to figure out if it will work for our purposes here. After talking with @florian-grond, a good first step would be to create a sample web page using it that resembles the sonification of region outlines in photographs. Then, w

[2022-09-19 14:38] jeffbl commented on #258
Options:
1. Have the beta always hard-coded to use unicorn by default. I think this will backfire since sometimes we'll be pushing a beta with just extension UI changes, and want testers to use it against production server.
2. Decide each time we build the beta extension which server we'd like it to work against by default.
3. Have another radio button "unicorn" in the beta extension only. (HIstor

[2022-09-19 15:20] JRegimbal commented on #258
I'd lean towards option 3 myself. I can't remember why we dropped this in production though!

[2022-09-19 15:30] jeffbl commented on #258
Because it was weird to have hardcoded McGill servers in the options, rather than a generic typein field. I'm open to debate on including both, at least until we know of other servers running...

[2022-09-20 14:50] Cybernide commented on #257
It's live! Closing @jeffbl

[2022-09-20 14:50] #257 closed

[2022-09-20 23:53] #254 closed, assigned to jaydeepsingh25

[2022-09-21 19:39] jeffbl commented on #168
Moving to Oct3, still pending user feedback.

[2022-09-22 16:13] jeffbl commented on #248
Another case (even weirder):
https://opengovca.com/director/martine-picard

![image](https://user-images.githubusercontent.com/2095406/191798736-1552e2ca-c1b5-47e3-a8a4-23c374d4aa0c.png)

[2022-09-28 18:49] Sabrina-Knappe opened #261 "User Testing- UI Options"
In light of recent feedback on the difficulties using the context menu users are encountering, three options have emerged to allow users to more easily access the IMAGE extension:
- Allow users to click on the IMAGE extension icon, triggering a list of all potential objects that can be given a rendering
- Give users a hotkey pattern that would allow them to trigger the extension when tabbed onto a

[2022-09-28 18:49] Sabrina-Knappe opened #262 "Investigate what screenreaders do for their image description in the browser (@Sabrina )"

[2022-09-28 18:50] Sabrina-Knappe commented on #262
Determine what screendreaders currently do for their image ID. Please close this issue with a quick rundown.

[2022-09-28 18:50] Sabrina-Knappe opened #263 "Investigate possible shortcuts/hotkeys for opening the image extension on a graphic"

[2022-09-28 18:53] Sabrina-Knappe opened #264 "Check the current UI with one or two more users"

[2022-09-28 18:54] Sabrina-Knappe commented on #168
Updates from User-Facing:
David liked the changes! He is having difficulty opening the extension at all because he finds the context menu hard to manipulate. We need to check with a few more users ( #264 ) to determine whether this is a recurring problem, but if users like the new UI once they access it, we will likely merge this change.

[2022-09-28 19:06] jeffbl commented on #259
This is the earlier issue, but closing as duplicate of later issue logged by @Sabrina-Knappe, which has more details.

[2022-09-28 19:06] #259 closed

[2022-10-03 19:29] Cybernide commented on #264
We have an appointment with a user on the 4th

[2022-10-05 13:01] jeffbl opened #265 "Support additional embedded maps formats beyond Google maps"
#108 discusses making the support for google embedded maps better. This work item concerns adding additional embedded maps formats. To consider:
- apple maps
- bing maps
- OSM
- ???

Note that when evaluating these, we should consider whether we can [obtain the scale of the embedded map](https://github.com/Shared-Reality-Lab/IMAGE-server/issues/495), which would help with making compelling renderi

[2022-10-05 13:26] jeffbl commented on #258
@Cybernide thoughts on the above discussion, and timeframe for this? It is primarily to help make testing easier, including with the panel, or even formal user studies. If not helpful, we can postpone or "don't fix", but I still think this would help us try things out more easily.

[2022-10-06 02:59] Cybernide commented on #258
Concur with Juliette. 2 sounds like there's the potential for trouble if we ever forget. 3 is probably the best call. I am unable to publish the test extension because it still uses manifest V2 and they're no longer accepting new extensions that use the old manifest version.

[2022-10-07 13:28] jeffbl commented on #258
Ah, right. Well, I guess that means we'll first use it for our manifest V3 testing! Moved to that milestone, on assumption it will come in sooner once @jaydeepsingh25 has an early build to test. This will be a great test case for doing this, since we're going to want most of the team to be testing the new extension.

[2022-10-07 14:57] jeffbl opened #266 "Release manifest V3 browser extension"
#199 discusses the core work to update to manifest v3. This is specifically for putting the new V3 extension into production.

[2022-10-11 07:54] Sabrina-Knappe commented on #168
@Cyan Kuo, ***@***.***> Did you have a chance to check this on JAWS? If yes, then I’ll re-assign to Jaydeep with appropriate wireframes. Although the previously attached zip file is probably more useful for him than wireframes.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Jeff ***@***.***>
Sent: April 21, 2022 4:04 PM
To: ***@***.***>
Cc: Sabrina ***@***.***>;

[2022-10-11 17:22] Cybernide commented on #168
This has been JAWS tested, and while I am personally not a fan, we have two users who strongly prefer this UI change. Their opinion takes precedent over mine.

[2022-10-14 21:24] jeffbl opened #267 "Manifest v3 extension: debug mode get request data fails"
Install build of manifest v3 compliant extension
Linux / Brave
Options -> enable developer mode
Go to webpage with photograph (I used washingtonpost.com)
right click
IMAGE Extension -> DEBUG: Get Request Data
EXPECT: pops up save as dialog to save the request JSON
ACTUAL: nothing pops up

NOTE: Testing in Chrome with older V2 extension version works correctly.

[2022-10-17 13:11] jeffbl opened #268 "Implement Firefox compatibility once Manifest V3 support is available"
Manifest V3 support is not yet available in Firefox. So, the new [Chrome Manifest V3 version of the IMAGE extension](https://github.com/Shared-Reality-Lab/IMAGE-browser/issues/266) does not even load. [Firefox support is being implemented, hopefully by the end of 2022](https://blog.mozilla.org/addons/2022/05/18/manifest-v3-in-firefox-recap-next-steps/). The Firefox [Developer Preview version alrea

[2022-10-17 13:49] jeffbl commented on #258
One other thought: Is it possible to have both production and beta extensions loaded at the same time? This would be very handy for comparing. Either way, @Cybernide, I suggest renaming the context menu item to Get IMAGE Rendering (beta) or something, so that it is very clear which one is being used. Otherwise I also fear I'll foget which one I have installed, and log bugs against the wrong extens

[2022-10-17 14:54] jeffbl opened #269 "Clarify wording in "IMAGE can't process" message"
Graphic file: (for example, photographs including .jpg, .png, or .gif) Scenes containing only unusual or oddly framed objects, montages of separate pictures, highly stylized or hand-drawn graphics, and diagrams are not yet well supported by the machine learning tools, and may not produce any usable renderings.

becomes

Graphics/Photographs: Scenes containing only unusual or oddly framed objects,

[2022-10-17 14:56] jeffbl commented on #269
Put in Oct24 milestone so gets implemented for V3 extension release

[2022-10-18 23:02] Cybernide commented on #258
It is definitely possible to have two extensions going at the same time. I was going to say, before I even read the end of your post, we'll need to rename the context menu item as it gets confusing!

[2022-10-19 06:23] #269 closed, assigned to jaydeepsingh25

[2022-10-19 14:42] Sabrina-Knappe opened #272 "Investigate alternative interfaces for photograph exploration"
We now have a decently navigable interface for image exploration for our users, how can we improve this?
Areas to consider include:

- "layers" of attributes
- multiple styles of renderings of photographs

[2022-10-19 14:43] Sabrina-Knappe commented on #141
This is temporarily solved by the new "button" layout.
Further investigation in #272

[2022-10-19 14:43] #141 closed

[2022-10-20 14:13] jeffbl commented on #272
When thinking about this, also worth considering how best to integrate new preprocessor capabilities including [OCR](https://github.com/Shared-Reality-Lab/IMAGE-server/issues/505), since it may have an impact on interaction?

[2022-10-20 14:15] jeffbl commented on #272
@Cybernide  placed in backlog since I don't think this is on your radar as a priority until aftter current round of user testing, but pull forward if disagree.

[2022-10-24 19:08] jeffbl commented on #10
@JRegimbal is this truly new news re: firefox on android supporting a wide variety of extensions?
https://www.androidpolice.com/firefox-beta-107-android-install-any-browser-add-on/

[2022-10-25 13:58] JRegimbal commented on #10
@jeffbl it's a step in the right direction allowing for extensions to be installed without having to load it in developer mode, but I don't think it adds additional support for extension APIs. It's worth keeping an eye on.

[2022-10-28 02:32] jeffbl commented on #134
With the manifest V3 build being released today, it looks like left click on the IMAGE icon now brings up a little panel of all the options, seemingly due to an update in Chrome, and not any explicit action taken on our part. @Sabrina-Knappe is this cool with you? I haven't tested in anything other than Chrome, so don't know if this happens in other supported browsers as well?

Moving to Nov14 spr

[2022-10-31 19:26] jeffbl commented on #266
@jaydeepsingh25 unless something still pending, please close. Very happy this is done!

[2022-10-31 19:26] jeffbl commented on #199
@jaydeepsingh25 unless something still pending, please close. Thanks!

[2022-11-01 04:45] Cybernide commented on #264
Checked and changes are in the UI. Closing @jeffbl

[2022-11-01 04:45] #264 closed

[2022-11-01 05:01] #168 closed

[2022-11-01 05:11] Cybernide commented on #262
Moving this to next sprint

[2022-11-01 05:12] Cybernide commented on #258
The extension beta is up and running! We have TWO versions of IMAGE! Closing @jeffbl

[2022-11-01 05:12] #258 closed

[2022-11-01 05:16] Cybernide commented on #263
So current behaviour on Context menus:
Bringing up a context menu in Windows: Shift-F10
Bringing up a context menu with Voiceover on Mac (default): Ctrl-Option-Shift-M

[2022-11-01 05:16] Cybernide commented on #263
Also moving to backlog

[2022-11-01 13:12] jeffbl commented on #261
Moving to Nov14 sprint since it depends on Nov14 sprint work items. @Cybernide Should this go to Dec05 sprint?

[2022-11-01 15:11] Cybernide commented on #134
This behaviour is consistent in Opera and Edge. I had suggested that options be available from this button before, so I am not unhappy with this change.

The other thing that I had suggested was using it to gather a list of all the graphics on a single webpage that IMAGE could interact with, as NVDA also does something similar with the Elements List https://www.nvaccess.org/files/nvda/documentatio

[2022-11-02 19:08] jeffbl opened #274 "Implement easily enabled "test" UI indicators & functionality for test extension builds"
Note that I'm using "test" as the name instead of "beta". Could go either way, but right now, the production version is beta, so having this one marked "beta" may be confusing until we indicate the production one is no longer beta... Is "test" the right word? Alternative could be "alpha" or something else?

When we want to push a [test version of the extension](https://github.com/Shared-Reality-La

[2022-11-07 17:45] Cybernide commented on #274
Since this version is explicitly so we can get this into the hands of people to test UI functions, I would use the label "test". Also, when I've given this to our panelists in the past, I've always labeled the package "test", so it'd be good to have that be consistent.

From your list, I like the following:
- [ ] enable "(test)" suffix text in the context menu item
- [ ] On maps and charts buttons

[2022-11-07 18:10] jeffbl commented on #274
For developer mode and server choice, I wasn't suggesting locking it to those options, but having a way to set this per-release. Developer mode on by default might be a very rare case, but I can easily see us wanting to test new preprocessors/handlers that are not in production, but are running on unicorn, even for panel, etc.

Also, to clarify, I see this being used by external people like user p

[2022-11-07 19:59] Cybernide commented on #274
Well, as an internal member of the team, I can certainly tolerate switching servers and toggling developer mode, but I suppose I can't speak for everybody :)

I say we implement the subset of changes that I marked down in my previous reply for now since I think we can agree on those and open the rest up for discussion at next tech-arch.

[2022-11-08 22:23] Cybernide opened #276 "IMAGE 'Get Chart Rendering' button not showing up on older Highcharts"
Example:

https://afdc.energy.gov/data/

Think that @JRegimbal might have more technical details to add.

[2022-11-09 12:30] JRegimbal commented on #276
At least for [this page](https://afdc.energy.gov/data/10355) the first element of `window.Highcharts.charts` is undefined. The second does seem fine though. Perhaps more checks in highcharts.js would get it working here?

[2022-11-10 20:38] Cybernide commented on #262
### JAWS
Upon navigating (using keys) to a graphic, the screen reader says "Image: " followed by the alt text, if available.
### NVDA
Upon navigating (used mouse) to a graphic, the screen reader just reads the alt text, if no alt text is available, it'll just say "no photo description available"

[2022-11-10 21:58] Cybernide commented on #261
My gut says this should be moved to Dec 5 since we're still doing investigation on existing systems. @Sabrina-Knappe I'd like your input on this

[2022-11-15 19:47] jeffbl commented on #262
@Cybernide @Sabrina-Knappe what needs to happen to complete this work item? Is this information being factored into design decisions for another work item, or is there move investigation needed here?

[2022-11-15 19:55] Cybernide commented on #262
@Sabrina-Knappe could you provide the output for Voiceover so we can close this issue and report this somewhere?

[2022-11-23 14:56] jeffbl commented on #274
RE: default to unicorn, this may be necessary due to breaking changes, so I'd argue we'd want the abiltiy to do that by default. @Cybernide I've updated the checklist in the first item to reflect yours + the ability to toggle to unicorn automatically based on this. I'll raise at tech-arch today, but if no changes from meeting, and good with you, please assign to jaydeep for implementation.

[2022-11-23 17:27] jeffbl commented on #274
@jaydeepsingh25 my changes to first post checklist didn't get saved this morning - should be corrected now.